In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "E:/my_courses/data mining/project/data_genre/"
path = "C:/Users/User/Downloads/test2/"

In [3]:
book = pd.read_csv(path + 'book_no_null_language_merging.csv')

# 2ï¸âƒ£ Data Preparation Phase : Section 3
<hr style="border:2px solid gray"> </hr>

## ğŸ“‘ Using genres field

### âœ… Joining books with genres

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
Ø¯Ø± Ø§ÛŒÙ† Ù‚Ø³Ù…Øª Ù‚ØµØ¯ Ø¯Ø§Ø±ÛŒÙ… Ú©Ù‡ Ú˜Ø§Ù†Ø±Ù‡Ø§ÛŒ Ù…Ø®ØªÙ„Ù Ù‡Ø±Ú©ØªØ§Ø¨ Ø±Ø§ Ø¨Ù‡ Ø¯ÛŒØªØ§Ø³Øª Ú©ØªØ§Ø¨ÛŒ Ú©Ù‡ Ø¯Ø§Ø´ØªÛŒÙ… Ø§Ø¶Ø§ÙÙ‡ Ú©Ù†ÛŒÙ… .
Ø¨Ø±Ø§ÛŒ Ø§Ù†Ø¬Ø§Ù… Ø§ÛŒÙ† Ø§Ù…Ø±ØŒ Ø§Ø² Ø¯ÛŒØªØ§Ø³Øª Ø¯ÛŒÚ¯Ø±ÛŒ Ú©Ù‡ Ø¨Ø±Ú¯Ø±ÙØªÙ‡ Ø§Ø² Ø³Ø§ÛŒØª goodreads Ù…ÛŒØ¨Ø§Ø´Ø¯ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒÚ©Ù†ÛŒÙ… Ú†Ø±Ø§Ú©Ù‡ Ø¯ÛŒØªØ§Ø³Øª Ø§ØµÙ„ÛŒ Ø­Ø§ÙˆÛŒ Ú˜Ø§Ù†Ø± Ù†Ù…ÛŒ Ø¨Ø§Ø´Ø¯.

In [3]:
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   book_id                    10000 non-null  int64
 1   goodreads_book_id          10000 non-null  int64
 2   best_book_id               10000 non-null  int64
 3   work_id                    10000 non-null  int64
 4   books_count                10000 non-null  int64
 5   isbn                       9300 non-null   object
 6   isbn13                     9924 non-null   float64
 7   authors                    10000 non-null  object
 8   original_publication_year  10000 non-null  float64
 9   original_title             9415 non-null   object
 10  title                      10000 non-null  object
 11  language_code              10000 non-null  object
 12  average_rating             10000 non-null  float64
 13  ratings_count              10000 non-null  int64
 14  work_ratings_count         10000 non-null  int64
 15  work_text_reviews_count    10000 non-null  int64
 16  ratings_1                  10000 non-null  int64
 17  ratings_2                  10000 non-null  int64
 18  ratings_3                  10000 non-null  int64
 19  ratings_4                  10000 non-null  int64
 20  ratings_5                  10000 non-null  int64
 21  image_url                  10000 non-null  object
 22  small_image_url            10000 non-null  object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.8+ MB

In [4]:
genres_df = pd.read_json('goodreads_book_genres_initial.json', lines=True)

In [5]:
genres_df.columns = ['goodreads_book_id','genres']

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
Ø¯Ø± Ø¯ÛŒØªØ§Ø³Øª Ø²ÛŒØ± Ù‡Ø± Ú©ØªØ§Ø¨ Ø¯Ø§Ø±Ø§ÛŒ Ù„ÛŒØ³ØªÛŒ Ø§Ø² Ú˜Ø§Ù†Ø±Ù‡Ø§ÛŒÛŒ Ø§Ø³Øª Ú©Ù‡ Ø¨ÛŒØ´ØªØ± Ø¨Ù‡ Ø¢Ù† Ø±Ø§ÛŒ Ø¯Ø§Ø¯Ù‡ Ø§Ù†Ø¯ Ù…Ø«Ù„Ø§ Ø§ÙˆÙ„ÛŒÙ† Ø³Ø·Ø± Ù†Ø´Ø§Ù† Ù…ÛŒØ¯Ù‡Ø¯ Ú©Ù‡ Ø§ÛŒÙ† Ú©ØªØ§Ø¨ ØªØ§Ø±ÛŒØ®ÛŒ Ù…ÛŒØ¨Ø§Ø´Ø¯.

In [6]:
genres_df.head()

   goodreads_book_id                                             genres
0            5333265      {'history, historical fiction, biography': 1}
1            1333909  {'fiction': 219, 'history, historical fiction,...
2            7327624  {'fantasy, paranormal': 31, 'fiction': 8, 'mys...
3            6066819  {'fiction': 555, 'romance': 23, 'mystery, thri...
4             287140                                 {'non-fiction': 3}

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
Ø¯ÛŒØªØ§Ø³Øª Ú©ØªØ§Ø¨ Ø±Ø§ Ø¨Ø§ Ø¯ÛŒØªØ§Ø³Øª Ú˜Ø§Ù†Ø± Ø°Ú©Ø± Ø´Ø¯Ù‡ Ø¬ÙˆÛŒÙ† Ù…ÛŒÚ©Ù†ÛŒÙ….

In [10]:
book_genres_df = pd.merge(book, genres_df, how='left', on=['goodreads_book_id'])

In [11]:
book_genres_df.shape

(10000, 24)

In [12]:
book_genres_df.drop(['goodreads_book_id', 'best_book_id','work_id','books_count','isbn',
                     'isbn13','original_title','authors','image_url','small_image_url','title'], axis=1, inplace=True)

In [13]:
book_genres_df.shape

(10000, 13)

In [14]:
book_genres_df.to_csv(path + 'genre_book.csv')

### âœ… Separating genres

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
Ø¯Ø± Ø§ÛŒÙ† Ù‚Ø³Ù…Øª Ú˜Ø§Ù†Ø±Ù‡Ø§ Ø±Ø§ Ø¬Ø¯Ø§ Ù…ÛŒ Ú©Ù†ÛŒÙ… ØªØ§ Ø¯Ø± Ú©Ù„ Ø¨ÙÙ‡Ù…ÛŒÙ… Ú©ØªØ§Ø¨ Ù‡Ø§ Ø¯Ø§Ø±Ø§ÛŒ Ú†Ù‡ Ù†ÙˆØ¹ Ú˜Ø§Ù†Ø±Ù‡Ø§ÛŒÛŒ
    Ù‡Ø³ØªÙ†Ø¯. ÛŒÚ© Ú©ØªØ§Ø¨ Ù…ÛŒ ØªÙˆØ§Ù†Ø¯ Ø¯Ø§Ø±Ø§ÛŒ Ú†Ù†ÛŒØ¯Ù† Ú˜Ø§Ù†Ø± Ø¨Ø§Ø´Ø¯.

In [14]:
book_genres_df = pd.read_csv(path + 'genre_book.csv')

In [15]:
book_genres_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [16]:
book_genres_df.loc[0,'genres']

"{'young-adult': 30173, 'fiction': 26304, 'fantasy, paranormal': 13609, 'romance': 3390, 'mystery, thriller, crime': 803}"

In [17]:
import json

genres_list = set()
for i in range(len(book_genres_df)):
    if str(book_genres_df.loc[i,'genres']) != 'nan':
        genres = json.loads(book_genres_df.loc[i,'genres'].replace("'","\"")).keys()
        for j in genres:
            genres_list.add(j)

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
    Ù‡Ù…Ø§Ù†Ø·ÙˆØ± Ú©Ù‡ Ø¯Ø± Ø²ÛŒØ± Ø¯ÛŒØ¯Ù‡ Ù…ÛŒØ´ÙˆØ¯ Ú˜Ø§Ù†Ø±Ù‡Ø§ Ø¨Ù‡ ØµÙˆØ±Øª Ø²ÛŒØ± Ù…ÛŒØ¨Ø§Ø´Ø¯ . Ø¨Ø¹Ø¶ÛŒ Ù‡Ø§ Ø¨Ù‡ ØµÙˆØ±Øª ØªÚ©ÛŒ Ù…Ø§Ù†Ù†Ø¯ Ú˜Ø§Ù†Ø± Ú©ÙˆØ¯Ú© Ùˆ Ø¨Ø¹Ø¶ÛŒ Ø§Ø² Ø¢Ù†Ù‡Ø§ Ø¨Ù‡ ØµÙˆØ±Øª Ú¯Ø±ÙˆÙ‡ÛŒ Ø¯Ø± Ù†Ø¸Ø± Ú¯Ø±ÙØªÙ‡ Ø´Ø¯Ù‡ Ø§Ù†Ø¯ Ù…Ø§Ù†Ù†Ø¯ Ø¨Ø§ÛŒÙˆÚ¯Ø±Ø§ÙÛŒ ØŒ ØªØ§Ø±ÛŒØ®ÛŒ Ùˆ ØªØ§Ø±ÛŒØ®ÛŒ ØªØ®ÛŒÙ„ÛŒ

In [18]:
genres_list

{'children',
 'comics, graphic',
 'fantasy, paranormal',
 'fiction',
 'history, historical fiction, biography',
 'mystery, thriller, crime',
 'non-fiction',
 'poetry',
 'romance',
 'young-adult'}

In [19]:
len(genres_list)

10

### âœ… Creating one-hot genre

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
    Ø­Ø§Ù„ Ø¯Ø± Ø§ÛŒÙ† Ù‚Ø³Ù…Øª ÛŒÚ© one-hot Ø§Ø² Ú˜Ø§Ù†Ø±Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ø¯Ø± Ù‚Ø³Ù…Øª Ù‚Ø¨Ù„ Ø¨Ø¯Ø³Øª Ø¢ÙˆØ±Ø¯ÛŒÙ… Ù…ÛŒØ³Ø§Ø²ÛŒÙ….
    Ø¨Ù‡ Ø§ÛŒÙ† Ø¯ÛŒØªØ§Ø³Øª Ø¬Ø¯ÛŒØ¯ Ø¢ÛŒØ¯ÛŒ Ú©ØªØ§Ø¨ Ù‡Ø§ Ø±Ø§ Ù†ÛŒØ² Ø§Ø¶Ø§ÙÙ‡ Ù…ÛŒÚ©Ù†ÛŒÙ….

In [20]:
onehot = pd.DataFrame(columns=genres_list)
onehot['book_id'] = book_genres_df['book_id']
onehot.head()

,"fantasy, paranormal",non-fiction,"mystery, thriller, crime",fiction,young-adult,children,poetry,"comics, graphic",romance,"history, historical fiction, biography",book_id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5

In [21]:
for i in range(len(book_genres_df)):
    if pd.isnull(book_genres_df.loc[i,'genres']) != True:
        genres = json.loads(book_genres_df.loc[i,'genres'].replace("'","\"")).keys()
        for j in genres:
            onehot.loc[i,j] = 1

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
    Ø¯Ø± Ù†Ù‡Ø§ÛŒØª Ø¯ÛŒØªØ§Ø³Øª Ø¨Ù‡ ØµÙˆØ±Øª Ø²ÛŒØ± Ø¨Ø¯Ø³Øª Ù…ÛŒ Ø¢ÛŒØ¯ Ø¨Ù‡ Ø·ÙˆØ±ÛŒÚ©Ù‡ Ø¨Ù‡ Ø§Ø²Ø§ÛŒ Ù‡Ø± Ú©ØªØ§Ø¨ Ú˜Ø§Ù†Ø±Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ø¯Ø§Ø´ØªÙ‡ Ø§Ø³Øª Ù…Ù‚Ø¯Ø§Ø± ÛŒÚ© Ø¯Ø§Ø±Ù†Ø¯ Ùˆ Ø¨Ù‚ÛŒÙ‡ ØµÙØ± Ù‡Ø³ØªÙ†Ø¯.

In [22]:
onehot = onehot.fillna(0)
onehot.head()

,"fantasy, paranormal",non-fiction,"mystery, thriller, crime",fiction,young-adult,children,poetry,"comics, graphic",romance,"history, historical fiction, biography",book_id
0,1,0,1,1,1,0,0,0,1,0,1
1,1,0,1,1,1,1,0,0,0,0,2
2,1,0,0,1,1,0,0,0,1,0,3
3,0,0,1,1,1,0,0,0,0,1,4
4,0,0,0,1,1,0,0,0,1,1,5

### âœ… Imputation of null genre manually

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
    Ø¯Ø± Ø¨ÛŒÙ† Ú˜Ø§Ù†Ø±Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ø¯Ø± Ø¯ÛŒØªØ§Ø³Øª Ú˜Ø§Ù†Ø± Ø¯Ø± Ù‚Ø³Ù…Øª Ù‡Ø§ÛŒ Ù‚Ø¨Ù„ Ø¯ÛŒØ¯Ù‡ Ø´Ø¯ ØŒ Ú†Ù†Ø¯ Ú©ØªØ§Ø¨ Ú˜Ø§Ù†Ø±ÛŒ Ø¨Ø±Ø§ÛŒØ´Ø§Ù† Ø«Ø¨Øª Ù†Ø´Ø¯Ù‡ Ø¨ÙˆØ¯ Ù¾Ø³ Ø¯Ø§Ø¯Ù‡ Ù‡Ø§ÛŒ Ú¯Ù… Ø´Ø¯Ù‡ Ø¨ÙˆØ¯Ù†Ø¯ .
    Ø¯Ø± Ø§ÛŒÙ† Ù‚Ø³Ù…Øª Ø§ÛŒÙ† Ø¯Ø§Ø¯Ù‡ Ù‡Ø§ÛŒ Ú¯Ù… Ø´Ø¯Ù‡ Ø±Ø§ Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² ÙˆÛŒÚ˜Ú¯ÛŒ Ù‡Ø§ÛŒ Ú©ØªØ§Ø¨ Ù…ÙˆØ±Ø¯ Ù†Ø¸Ø± ØŒ Ø¨Ù‡ ØµÙˆØ±Øª Ø¯Ø³ØªÛŒ Ø¬Ø³ØªØ¬Ùˆ Ùˆ Ø§Ù¾Ø¯ÛŒØª Ù…ÛŒÚ©Ù†ÛŒÙ… .

In [25]:
book_genres_df[book_genres_df['genres'].isna()]

,book_id,original_publication_year,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,genres
7195,7196,2016.0,en,4.13,17375,22369,2309,299,726,3616,8891,8837,NaN
8700,8701,1991.0,es-ar,4.21,9115,9116,4,195,366,1301,2761,4493,NaN
9607,9608,1997.0,en,4.14,11106,11106,3,125,277,2425,3384,4895,NaN
9815,9816,2016.0,en,4.23,10891,13808,1655,148,438,1925,4879,6418,NaN

In [26]:
onehot.loc[7195]

fantasy, paranormal                          0
non-fiction                                  0
mystery, thriller, crime                     0
fiction                                      0
young-adult                                  0
children                                     0
poetry                                       0
comics, graphic                              0
romance                                      0
history, historical fiction, biography       0
book_id                                   7196
Name: 7195, dtype: int64

In [27]:
onehot.loc[7195,['romance','fiction']] = 1
onehot.loc[8700,['comics, graphic','fiction']] = 1
onehot.loc[9607,['children','fiction','young-adult']] = 1
onehot.loc[9815,['romance','fiction']] = 1

### âœ… Merge onehot with book_genres_df

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
    Ø¯Ø± Ù†Ù‡Ø§ÛŒØª Ø¯ÛŒØªØ§Ø³Øª one-hot .Ú˜Ø§Ù†Ø±ÛŒ Ú©Ù‡ Ø¨Ø¯Ø³Øª Ø¢Ù…Ø¯ Ø±Ø§ Ø¨Ø§ Ø¯ÛŒØªØ§Ø³Øª Ú©ØªØ§Ø¨ Ø¬ÙˆÛŒÙ† Ø²Ø¯Ù‡ Ùˆ ÙÛŒÙ„Ø¯ genres Ù‚Ø¨Ù„ÛŒ Ø§Ø² Ø¯ÛŒØªØ§Ø³Øª Ø­Ø°Ù Ù…ÛŒ Ú¯Ø±Ø¯Ø¯.

In [28]:
one_hot_genre = pd.merge(book_genres_df, onehot, how='inner', on=['book_id'])

In [29]:
one_hot_genre.head()

,book_id,original_publication_year,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,...,"fantasy, paranormal",non-fiction,"mystery, thriller, crime",fiction,young-adult,children,poetry,"comics, graphic",romance,"history, historical fiction, biography"
0,1,2008.0,en,4.34,4780653,4942365,155254,66715,127936,560092,...,1,0,1,1,1,0,0,0,1,0
1,2,1997.0,en,4.44,4602479,4800065,75867,75504,101676,455024,...,1,0,1,1,1,1,0,0,0,0
2,3,2005.0,en,3.57,3866839,3916824,95009,456191,436802,793319,...,1,0,0,1,1,0,0,0,1,0
3,4,1960.0,en,4.25,3198671,3340896,72586,60427,117415,446835,...,0,0,1,1,1,0,0,0,0,1
4,5,1925.0,en,3.89,2683664,2773745,51992,86236,197621,606158,...,0,0,0,1,1,0,0,0,1,1

In [30]:
one_hot_genre.drop(['genres'], inplace=True, axis=1)

### âœ… Get dummy language_code

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
Ø§Ú¯Ø± ØªØ¹Ø¯Ø§Ø¯ Ø²Ø¨Ø§Ù† Ù‡Ø§ÛŒ unique Ø±Ø§ Ø¨Ø¯Ø³Øª Ø¢ÙˆØ±ÛŒÙ… Ø¯Ø±ÙˆÙ† Ø§ÛŒÙ† Ø¯ÛŒØªØ§Ø³Øª Ú©ØªØ§Ø¨ Ù‡Ø§ÛŒÛŒ Ø¨Ù‡ 25 Ø²Ø¨Ø§Ù† Ú¯ÙˆÙ†Ø§Ú¯ÙˆÙ† ÙˆØ¬ÙˆØ¯ Ø¯Ø§Ø±Ù†Ø¯ Ø§Ù…Ø§ Ø§Ú¯Ø± Ø¨Ù‡ ØªÙˆØ²ÛŒØ¹ Ø§ÛŒÙ† Ø²Ø¨Ø§Ù† Ù‡Ø§ Ù†Ú¯Ø§Ù‡ÛŒ Ø¨ÛŒÙ†Ø¯Ø§Ø²ÛŒÙ… Ù…Ø´Ø®Øµ Ø§Ø³Øª Ú©Ù‡ 14 Ù…ÙˆØ±Ø¯ Ø­Ø¯Ø§Ú©Ø«Ø± 3 Ú©ØªØ§Ø¨ Ø¯Ø±ÙˆÙ† Ø¯ÛŒØªØ§Ø³Øª Ø¯Ø§Ø±Ù†Ø¯ Ùˆ ØªØ¹Ø¯Ø§Ø¯ Ø²ÛŒØ§Ø¯ÛŒ Ù†ÛŒØ² ØªÙ†Ù‡Ø§ ÛŒÚ© Ú©ØªØ§Ø¨ Ø±Ø§ Ø´Ø§Ù…Ù„ Ù…ÛŒ Ø´ÙˆÙ†Ø¯ Ø¨Ù‡ Ø§ÛŒÙ† ØªØ±ØªÛŒØ¨ Ù…ÛŒØªÙˆØ§Ù†ÛŒÙ… ÛŒÚ© Ø®ÙˆØ´Ù‡ Ø¨Ù†Ø¯ÛŒ Ø¨Ø± Ø±ÙˆÛŒ Ø²Ø¨Ø§Ù† Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ú©ØªØ§Ø¨ Ú©Ù…ØªØ±ÛŒ Ø¯Ø§Ø±Ù†Ø¯ Ø§Ù†Ø¬Ø§Ù… Ø¯Ù‡ÛŒÙ….

In [37]:
len(one_hot_genre['language_code'].unique())

25

In [38]:
one_hot_genre['language_code'].value_counts()

en       9799
ara        64
fre        29
ind        21
spa        20
ger        15
jpn         9
per         7
pol         6
por         6
dan         3
nor         3
swe         2
ita         2
fil         2
hin         2
tur         2
vie         1
rus         1
chi         1
rum         1
mul         1
nl          1
fin         1
es-ar       1
Name: language_code, dtype: int64

In [39]:
for i in one_hot_genre[~book['language_code'].isna()]['language_code'].unique():
    if (one_hot_genre['language_code'].value_counts()[i] < 6):
        one_hot_genre['language_code'].replace({i:'other'}, inplace=True)

In [40]:
len(one_hot_genre['language_code'].unique())

11

In [41]:
one_hot_genre['language_code'].value_counts()

en       9799
ara        64
fre        29
other      24
ind        21
spa        20
ger        15
jpn         9
per         7
pol         6
por         6
Name: language_code, dtype: int64

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
Ù¾Ø³ Ø§Ø² Ø¯Ø³ØªÙ‡ Ø¨Ù†Ø¯ÛŒ Ø²Ø¨Ø§Ù† Ù‡Ø§ Ùˆ Ú©Ø§Ù‡Ø´ ØªØ¹Ø¯Ø§Ø¯ Ø³ØªÙˆÙ† Ù‡Ø§ÛŒ Ù…Ø±Ø¨ÙˆØ·Ù‡ Ø§Ø² dummy Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ø±Ø¯Ù‡ Ùˆ Ø³ØªÙˆÙ† Ú©ØªÚ¯ÙˆØ±ÛŒÚ©Ø§Ù„ language-code Ø±Ø§ Ø¨Ù‡ Ø³ØªÙˆÙ† Ù‡Ø§ÛŒ flag Ù…Ø§Ù†Ù†Ø¯ ØªØ¨Ø¯ÛŒÙ„ Ù…ÛŒ Ú©Ù†ÛŒÙ….

In [42]:
final_book =  pd.get_dummies(one_hot_genre, columns=['language_code'] , prefix=[''],prefix_sep=[''])
final_book.head()

,book_id,original_publication_year,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,...,en,fre,ger,ind,jpn,other,per,pol,por,spa
0,1,2008.0,4.34,4780653,4942365,155254,66715,127936,560092,1481305,...,1,0,0,0,0,0,0,0,0,0
1,2,1997.0,4.44,4602479,4800065,75867,75504,101676,455024,1156318,...,1,0,0,0,0,0,0,0,0,0
2,3,2005.0,3.57,3866839,3916824,95009,456191,436802,793319,875073,...,1,0,0,0,0,0,0,0,0,0
3,4,1960.0,4.25,3198671,3340896,72586,60427,117415,446835,1001952,...,1,0,0,0,0,0,0,0,0,0
4,5,1925.0,3.89,2683664,2773745,51992,86236,197621,606158,936012,...,1,0,0,0,0,0,0,0,0,0

In [43]:
print(list(final_book.columns))

['book_id', 'original_publication_year', 'average_rating', 'ratings_count', 'work_ratings_count', 'work_text_reviews_count', 'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'fantasy, paranormal', 'non-fiction', 'mystery, thriller, crime', 'fiction', 'young-adult', 'children', 'poetry', 'comics, graphic', 'romance', 'history, historical fiction, biography', 'ara', 'en', 'fre', 'ger', 'ind', 'jpn', 'other', 'per', 'pol', 'por', 'spa']

In [44]:
final_book.to_csv(path + 'final_book.csv')