In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'E:/my_courses/data mining/project/data_genre/'
path = "C:/Users/User/Downloads/test2/"

In [3]:
rating = pd.read_csv(path + 'ratings.csv')
to_read = pd.read_csv(path + 'to_read.csv')
book = pd.read_csv(path + 'book_no_null_language_merging.csv')

# 4ï¸âƒ£ Setup & Modeling & Evaluation Phase
<hr style="border:2px solid gray"> </hr>

## ğŸ“‘ AssociationRules

In [104]:
to_read.head()

   user_id  book_id
0        9        8
1       15      398
2       15      275
3       37     7173
4       34      380

In [105]:
rating.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [106]:
to_read.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912705 entries, 0 to 912704
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  912705 non-null  int64
 1   book_id  912705 non-null  int64
dtypes: int64(2)
memory usage: 13.9 MB

In [107]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5976479 entries, 0 to 5976478
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  int64
 1   book_id  int64
 2   rating   int64
dtypes: int64(3)
memory usage: 136.8 MB

In [108]:
to_read.isna().sum()

user_id    0
book_id    0
dtype: int64

In [109]:
rating.isna().sum()

user_id    0
book_id    0
rating     0
dtype: int64

### âœ… Creating one hot from to_read & ratings datasets

<div style="direction:rtl", align="justify">
<h3>
<span style='font-family:"B Nazanin"'>
Ø¯Ø± Ø§ÛŒÙ† Ø¨Ø®Ø´ Ø¨Ù‡ Ø¹Ù†ÙˆØ§Ù† Ú¯Ø§Ù…ÛŒ Ø§Ø² ÙØ§Ø² Ù…Ø¯Ù„Ø³Ø§Ø²ÛŒ Ù‚ØµØ¯ Ø¯Ø§Ø±ÛŒÙ… Ø§Ø±ØªØ¨Ø§Ø· Ù…ÛŒØ§Ù† Ú©ØªØ§Ø¨ Ù‡Ø§ÛŒ Ú¯ÙˆÙ†Ø§Ú¯ÙˆÙ†ÛŒ Ú©Ù‡ ØªÙˆØ³Ø· Ú©Ø§Ø±Ø¨Ø±Ø§Ù† Ø®ÙˆØ§Ù†Ø¯Ù‡ Ø´Ø¯Ù‡ Ø§Ø³Øª Ø±Ø§ Ú©Ø´Ù Ù†Ù…Ø§ÛŒÛŒÙ…. Ø¨Ø¯ÛŒÙ† Ù…Ù†Ø¸ÙˆØ± Ø§Ø¨ØªØ¯Ø§ Ø¬Ø¯ÙˆÙ„ one_hot Ø§ÛŒØ¬Ø§Ø¯ Ù…ÛŒÚ©Ù†ÛŒÙ… Ú©Ù‡ Ø³ØªÙˆÙ† Ù‡Ø§ÛŒ Ù†Ø¸ÛŒØ± Ø¢Ù† id Ù…Ø±Ø¨ÙˆØ· Ø¨Ù‡ Ø¯Ù‡ Ù‡Ø²Ø§Ø± Ú©ØªØ§Ø¨ Ù…ÙˆØ¬ÙˆØ¯ Ø¯Ø± Ø¯ÛŒØªØ§Ø³Øª book Ø¨Ø§Ø´Ø¯ Ùˆ Ø³Ù¾Ø³ Ø¨Ù‡ Ø§Ø²Ø§ÛŒ Ù‡Ø± Ú©Ø§Ø±Ø¨Ø± ÛŒÚ© Ø±Ú©ÙˆØ±Ø¯ Ø¯Ø± Ø¬Ø¯ÙˆÙ„ Ø§ÛŒØ¬Ø§Ø¯ Ú©Ø±Ø¯Ù‡ Ùˆ Ø¨Ø±Ø§ÛŒ Ø¢Ù† Ø±Ú©ÙˆØ±Ø¯ Ù…Ù‚Ø¯Ø§Ø± Ø³ØªÙˆÙ† Ù†Ø¸ÛŒØ± Ú©ØªØ§Ø¨Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ú©Ø§Ø±Ø¨Ø± Ù…Ø±Ø¨ÙˆØ·Ù‡ Ø¢Ù† Ù‡Ø§ Ø±Ø§ Ø®ÙˆØ§Ù†Ø¯Ù‡ Ùˆ ÛŒØ§ Ø¹Ù„Ø§Ù‚Ù…Ù†Ø¯ Ø¨Ù‡ Ø®ÙˆØ§Ù†Ø¯Ù† Ø¢Ù† Ù‡Ø§ Ø¨ÙˆØ¯Ù‡ 1 Ùˆ Ø¯Ø± Ù…Ù‚Ø§Ø¨Ù„ Ø³Ø§ÛŒØ± Ú©ØªØ§Ø¨ Ù‡Ø§ 0 Ù‚Ø±Ø§Ø± Ù…ÛŒ Ø¯Ù‡ÛŒÙ….

In [110]:
read_1_hot = pd.DataFrame(0,columns=[i for i in range(1,10001)],index=[i for i in range(1,53425)])

In [111]:
for _uid_ in to_read['user_id'].unique():
    x = to_read[to_read['user_id'] == _uid_]
    reads = x['book_id'].unique()
    for _bid_ in reads:
        read_1_hot.loc[_uid_, _bid_] = 1

In [112]:
for _uid_ in rating['user_id'].unique():
    x = rating[rating['user_id'] == _uid_]
    reads = x['book_id'].unique()
    for _bid_ in reads:
        read_1_hot.loc[_uid_, _bid_] = 1

In [113]:
read_1_hot

,1,2,3,4,5,6,7,8,9,10,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
1,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,1,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,1,1,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53420,1,1,1,0,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
53421,1,1,0,1,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
53422,1,1,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
53423,1,1,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
53424,1,1,1,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [114]:
read_1_hot.to_csv(path + 'to_read_1_hot.csv')

In [115]:
import gc
gc.collect()

7015

### âœ… Which books are related

<div style="direction:rtl", align="justify"><h3>
    <span style='font-family:"B Nazanin"'>
Ø§Ø² Ø¬Ø¯ÙˆÙ„ one_hot Ø¨Ø¯Ø³Øª Ø¢Ù…Ø¯Ù‡ Ø¯Ø± Ù…Ø±Ø­Ù„Ù‡ Ù‚Ø¨Ù„ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ø±Ø¯Ù‡ Ùˆ Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ… fpgrowth Ùˆ Ø¨Ø§ minsup = 0.1 Ø¢ÛŒØªÙ… Ø³Øª Ù‡Ø§ÛŒ Ù…ØªÙ†Ø§ÙˆØ¨ Ù…ÙˆØ¬ÙˆØ¯ Ø¯Ø± Ø§ÛŒÙ† Ø¬Ø¯ÙˆÙ„ Ø±Ø§ Ø§Ø³ØªØ®Ø±Ø§Ø¬ Ù…ÛŒ Ú©Ù†ÛŒÙ…. Ø¨Ø§ ØªÙˆØ¬Ù‡ Ø¨Ù‡ Ø§ÛŒÙ†Ú©Ù‡ Ø¯ÛŒØªØ§Ø³Øª Ù…Ø§ Ø­Ø§ÙˆÛŒ Ø¨ÛŒØ´ Ø§Ø² 53,000 Ú©Ø§Ø±Ø¨Ø± Ø§Ø³Øª Ù…Ù‚Ø¯Ø§Ø± minsup = 0.1 Ø¹Ù†ÙˆØ§Ù† Ù…ÛŒ Ú©Ù†Ø¯ Ú©Ù‡ Ø¢ÛŒØªÙ… Ø³Øª Ø§Ø³ØªØ®Ø±Ø§Ø¬ Ø´Ø¯Ù‡ Ù…ÛŒ Ø¨Ø§ÛŒØ³Øª Ø­Ø¯Ø§Ù‚Ù„ Ø¯Ø± 10 Ø¯Ø±ØµØ¯ Ø§Ø² Ú©Ù„ Ú©Ø§Ø±Ø¨Ø±Ø§Ù† ØµØ§Ø¯Ù‚ Ø¨Ø§Ø´Ø¯ ÛŒØ¹Ù†ÛŒ Ø¨ÛŒØ´ Ø§Ø² Ø­Ø¯ÙˆØ¯ 5300 Ù†ÙØ± Ù‡Ù…Ù‡ Ú©ØªØ§Ø¨ Ù‡Ø§ÛŒ Ù…ÙˆØ¬ÙˆØ¯ Ø¯Ø± Ø¢ÛŒØªÙ… Ø³Øª Ù‡Ø§ÛŒ Ø§Ø³ØªØ®Ø±Ø§Ø¬ Ø´Ø¯Ù‡ Ø±Ø§ Ù…Ø·Ø§Ù„Ø¹Ù‡ Ú©Ø±Ø¯Ù‡ Ø¨Ø§Ø´Ù†Ø¯. Ø¨Ø§ ØªÙˆØ¬Ù‡ Ø¨Ù‡ Ø¢Ø²Ù…ÙˆÙ† Ùˆ Ø®Ø·Ø§ Ù‡Ø§ÛŒ ØµÙˆØ±Øª Ú¯Ø±ÙØªÙ‡ Ø§Ú¯Ø± Ø­Ø¯ÙˆØ¯ 10 Ø¯Ø±ØµØ¯ Ø§Ø² Ø§ÙØ±Ø§Ø¯ Ø¯Ùˆ Ú©ØªØ§Ø¨ x Ùˆ y Ø±Ø§ Ø¨Ø§Ù‡Ù… Ù…Ø·Ø§Ù„Ø¹Ù‡ Ú©Ø±Ø¯Ù‡ Ø¨Ø§Ø´Ù†Ø¯ Ø§ÛŒÙ† Ù‚Ø§Ø¹Ø¯Ù‡ Ù‚Ø§Ø¨Ù„ Ø¨Ø±Ø±Ø³ÛŒ Ùˆ Ø­Ø§Ø¦Ø² Ø§Ù‡Ù…ÛŒØª Ø§Ø³Øª.

In [2]:
import pandas as pd
import numpy as np

read_1_hot = pd.read_csv(path+'to_read_1_hot.csv')
read_1_hot.drop(['Unnamed: 0'], axis=1, inplace=True)

In [118]:
read_1_hot.head()

,1,2,3,4,5,6,7,8,9,10,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
0,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,1,1,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [121]:
import gc
gc.collect()

3716904

In [119]:
from mlxtend.frequent_patterns import apriori, fpgrowth, association_rules

In [120]:
frq_items_fpgrowth = fpgrowth(read_1_hot, min_support = 0.1, use_colnames = True)

frq_items_fpgrowth.sort_values(by=['support'], inplace=True)

In [122]:
frq_items_fpgrowth.shape

(2071, 2)

In [123]:
frq_items_fpgrowth

       support                 itemsets
1735  0.100011          (2, 18, 27, 26)
1004  0.100011  (2, 23, 18, 21, 20, 25)
1227  0.100011       (2, 23, 21, 27, 7)
1586  0.100030  (2, 23, 21, 20, 27, 25)
696   0.100030   (2, 20, 25, 24, 1, 17)
...        ...                      ...
120   0.322271                      (3)
58    0.334924                      (5)
0     0.384864                      (4)
57    0.416348                      (2)
119   0.444969                      (1)

[2071 rows x 2 columns]

In [124]:
book_rules = association_rules(frq_items_fpgrowth, metric ="lift", min_threshold = 1)

<div style="direction:rtl", align="justify"><h3>
     <span style='font-family:"B Nazanin"'>   
Ø¯Ø± Ù…Ø¬Ù…ÙˆØ¹ Ø§Ø² Ø±ÙˆÛŒ frequent_itemset Ù‡Ø§ÛŒ Ù…ÙˆØ¬ÙˆØ¯ Ú©Ù‡ Ø­Ø§ÙˆÛŒ minsup = 0.1 Ù‡Ø³ØªÙ†Ø¯ ØªØ¹Ø¯Ø§Ø¯ 44452 Ù‚Ø§Ø¹Ø¯Ù‡ Ø§Ø³ØªØ®Ø±Ø§Ø¬ Ø´Ø¯Ù‡ Ø§Ø³Øª Ùˆ ØªÙ†Ù‡Ø§ Ù‚ÙˆØ§Ø¹Ø¯ÛŒ Ú©Ù‡ lift Ø¨Ø§Ù„Ø§ÛŒ 1 Ø¯Ø§Ø±Ù†Ø¯ Ù…Ø¯Ù†Ø¸Ø± Ù…Ø§ Ù…ÛŒ Ø¨Ø§Ø´Ø¯.

In [125]:
book_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(2, 27, 18)",(26),0.215690,0.253051,0.100011,0.463681,1.832363,0.045431,1.392733
1,"(2, 18, 26)",(27),0.110344,0.290450,0.100011,0.906361,3.120542,0.067962,7.577531
2,"(2, 27, 26)",(18),0.104541,0.304676,0.100011,0.956670,3.139959,0.068160,16.047048
3,"(27, 18, 26)",(2),0.116783,0.416348,0.100011,0.856387,2.056900,0.051389,4.064065
4,"(2, 18)","(27, 26)",0.244272,0.126123,0.100011,0.409425,3.246236,0.069203,1.479706
...,...,...,...,...,...,...,...,...,...
44447,(23),(18),0.300558,0.304676,0.276655,0.920471,3.021148,0.185082,8.743008
44448,(24),(18),0.298518,0.304676,0.276767,0.927138,3.043032,0.185816,9.543055
44449,(18),(24),0.304676,0.298518,0.276767,0.908398,3.043032,0.185816,7.657968
44450,(17),(20),0.320792,0.311339,0.287062,0.894854,2.874205,0.187187,6.549536
44451,(20),(17),0.311339,0.320792,0.287062,0.922022,2.874205,0.187187,8.710304

In [126]:
book_rules.to_csv(path + 'book_rules.csv')

### âœ… Creating to_read_authors dataset using to_read & ratings datasets

<div style="direction:rtl", align="justify"><h3>
<span style='font-family:"B Nazanin"'>
Ø¯Ø± Ø§ÛŒÙ† Ø¨Ø®Ø´ Ù‚ØµØ¯ Ø¯Ø§Ø±ÛŒÙ… Ø§Ø±ØªØ¨Ø§Ø· Ù…ÛŒØ§Ù† Ù†ÙˆÛŒØ³Ù†Ø¯Ú¯Ø§Ù†ÛŒ Ú©Ù‡ Ú©ØªØ§Ø¨ Ù‡Ø§ÛŒ Ø¢Ù† Ù‡Ø§ Ù…Ø¹Ù…ÙˆÙ„Ø§ Ø¨Ø§Ù‡Ù… ØªÙˆØ³Ø· ÛŒÚ© ÙØ±Ø¯ Ù…Ø·Ø§Ù„Ø¹Ù‡ Ù…ÛŒ Ø´ÙˆØ¯ Ø±Ø§ Ú©Ø´Ù Ú©Ù†ÛŒÙ…. Ø¨Ø¯ÛŒÙ† Ù…Ù†Ø¸ÙˆØ± ÛŒÚ© Ø¬Ø¯ÙˆÙ„ one_hot ØªØ´Ú©ÛŒÙ„ Ù…ÛŒ Ø¯Ù‡ÛŒÙ… Ú©Ù‡ Ø³ØªÙˆÙ† Ù‡Ø§ÛŒ Ø¢Ù† Ù†Ø§Ù… ØªÙ…Ø§Ù… Ù†ÙˆÛŒØ³Ù†Ø¯Ú¯Ø§Ù†ÛŒ Ø§Ø³Øª Ú©Ù‡ Ø­Ø¯Ø§Ù‚Ù„ ÛŒÚ© Ú©ØªØ§Ø¨ Ø§Ø² Ø¢Ù† Ù‡Ø§ Ø¯Ø± Ø¯ÛŒØªØ§Ø³Øª book Ù…ÙˆØ¬ÙˆØ¯ Ù…ÛŒ Ø¨Ø§Ø´Ø¯ Ùˆ Ø¨Ù‡ Ø§Ø²Ø§ÛŒ Ù‡Ø± Ú©Ø§Ø±Ø¨Ø± ÛŒÚ© Ø±Ú©ÙˆØ±Ø¯ Ø¯Ø± Ø¬Ø¯ÙˆÙ„ Ø§ÛŒØ¬Ø§Ø¯ Ú©Ø±Ø¯Ù‡ Ùˆ Ù…Ù‚Ø¯Ø§Ø± Ù†Ø¸ÛŒØ± Ù†ÙˆÛŒØ³Ù†Ø¯Ú¯Ø§Ù†ÛŒ Ú©Ù‡ Ø§Ø² Ø¢Ù† Ù‡Ø§ Ú©ØªØ§Ø¨ÛŒ Ø±Ø§ Ù…Ø·Ø§Ù„Ø¹Ù‡ Ú©Ø±Ø¯Ù‡ Ø§Ø³Øª 1 Ùˆ Ø¯Ø± Ù…Ù‚Ø§Ø¨Ù„ Ù†Ø§Ù… Ø³Ø§ÛŒØ± Ù†ÙˆÛŒØ³Ù†Ø¯Ú¯Ø§Ù† Ø¨Ù‡ Ø§Ø²Ø§ÛŒ Ø¢Ù† Ø±Ú©ÙˆØ±Ø¯ 0 Ù‚Ø±Ø§Ø± Ù…ÛŒ Ø¯Ù‡ÛŒÙ….

In [127]:
import re
unique_authors = set()
for i in book['authors'].unique():
    res = re.split(',', i)
    for j in res:
        unique_authors.add(j.lstrip())

In [128]:
len(unique_authors)

5841

In [129]:
authors_1_hot = pd.DataFrame(0,columns=[i for i in unique_authors],index=[i for i in range(0,53425)])

In [130]:
for _uid_ in to_read['user_id'].unique():
    x = to_read[to_read['user_id'] == _uid_]
    reads = x['book_id'].unique()
    for _bid_ in reads:
        authors = re.split(',', book.loc[_bid_ -1, 'authors'])
        for _au_ in authors:
            authors_1_hot.loc[_uid_, _au_.lstrip()] = 1

In [131]:
for _uid_ in rating['user_id'].unique():
    x = rating[rating['user_id'] == _uid_]
    reads = x['book_id'].unique()
    for _bid_ in reads:
        authors = re.split(',', book.loc[_bid_ -1, 'authors'])
        for _au_ in authors:
            authors_1_hot.loc[_uid_, _au_.lstrip()] = 1

In [132]:
authors_1_hot

,Rachel Hauck,John Fowles,Amy Schumer,Jerzy KosiÅ„ski,Sonya Sones,Peggy Fortnum,Crystal S. Chan,Bill Moyers,Harvey Karp,Steven Naifeh,...,Mikhail Lermontov,Mourid Barghouti,Sarah Palin,Alex Tresniowski,Sandra Dallas,Eithne Wilkins,Lacey Weatherford,Peter Lerangis,Frank Bettger,Ù…Ø­Ù…Ø¯ Ø§Ø³Ù…Ø§Ø¹ÛŒÙ„â€ŒØ²Ø§Ø¯Ù‡
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53420,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53421,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53422,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53423,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53424,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [133]:
authors_1_hot.to_csv(path + 'authors_1_hot.csv')

In [ ]:
del authors_1_hot

### âœ… Which authors are related

<div style="direction:rtl", align="justify"><h3>
    <span style='font-family:"B Nazanin"'>
Ø§Ø² Ø¬Ø¯ÙˆÙ„ one_hot Ø¨Ø¯Ø³Øª Ø¢Ù…Ø¯Ù‡ Ø¯Ø± Ù…Ø±Ø­Ù„Ù‡ Ù‚Ø¨Ù„ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ø±Ø¯Ù‡ Ùˆ Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ… fpgrowth Ùˆ Ø¨Ø§ minsup = 0.25 Ø¢ÛŒØªÙ… Ø³Øª Ù‡Ø§ÛŒ Ù…ØªÙ†Ø§ÙˆØ¨ Ù…ÙˆØ¬ÙˆØ¯ Ø¯Ø± Ø§ÛŒÙ† Ø¬Ø¯ÙˆÙ„ Ø±Ø§ Ø§Ø³ØªØ®Ø±Ø§Ø¬ Ù…ÛŒ Ú©Ù†ÛŒÙ…. Ø¨Ø§ ØªÙˆØ¬Ù‡ Ø¨Ù‡ Ø§ÛŒÙ†Ú©Ù‡ Ø¯ÛŒØªØ§Ø³Øª Ù…Ø§ Ø­Ø§ÙˆÛŒ Ø¨ÛŒØ´ Ø§Ø² 53,000 Ú©Ø§Ø±Ø¨Ø± Ø§Ø³Øª Ù…Ù‚Ø¯Ø§Ø± minsup = 0.25 Ø¹Ù†ÙˆØ§Ù† Ù…ÛŒ Ú©Ù†Ø¯ Ú©Ù‡ Ø¢ÛŒØªÙ… Ø³Øª Ø§Ø³ØªØ®Ø±Ø§Ø¬ Ø´Ø¯Ù‡ Ù…ÛŒ Ø¨Ø§ÛŒØ³Øª Ø­Ø¯Ø§Ù‚Ù„ Ø¯Ø± 25 Ø¯Ø±ØµØ¯ Ø§Ø² Ú©Ù„ Ú©Ø§Ø±Ø¨Ø±Ø§Ù† ØµØ§Ø¯Ù‚ Ø¨Ø§Ø´Ø¯ ÛŒØ¹Ù†ÛŒ Ø¨ÛŒØ´ Ø§Ø² Ø­Ø¯ÙˆØ¯ 13250 Ù†ÙØ± Ø­Ø¯Ø§Ù‚Ù„ ÛŒÚ© Ú©ØªØ§Ø¨ Ø§Ø² Ù‡Ø± Ù†ÙˆÛŒØ³Ù†Ø¯Ù‡ Ù…ÙˆØ¬ÙˆØ¯ Ø¯Ø± Ø¢ÛŒØªÙ… Ø³Øª Ù‡Ø§ÛŒ Ø§Ø³ØªØ®Ø±Ø§Ø¬ Ø´Ø¯Ù‡ Ø±Ø§ Ù…Ø·Ø§Ù„Ø¹Ù‡ Ú©Ø±Ø¯Ù‡ Ø¨Ø§Ø´Ù†Ø¯. Ø¨Ø§ ØªÙˆØ¬Ù‡ Ø¨Ù‡ Ø¢Ø²Ù…ÙˆÙ† Ùˆ Ø®Ø·Ø§ Ù‡Ø§ÛŒ ØµÙˆØ±Øª Ú¯Ø±ÙØªÙ‡ Ø§Ú¯Ø± Ø­Ø¯ÙˆØ¯ 25 Ø¯Ø±ØµØ¯ Ø§Ø² Ø§ÙØ±Ø§Ø¯ Ø§Ø² Ø¯Ùˆ Ù†ÙˆÛŒØ³Ù†Ø¯Ù‡ x Ùˆ y Ø¨Ù‡ Ø·ÙˆØ± Ù‡Ù…Ø²Ù…Ø§Ù† Ú©ØªØ§Ø¨ Ù…Ø·Ø§Ù„Ø¹Ù‡ Ú©Ø±Ø¯Ù‡ Ø¨Ø§Ø´Ù†Ø¯ Ø§ÛŒÙ† Ù‚Ø§Ø¹Ø¯Ù‡  Ù‚Ø§Ø¨Ù„ Ø¨Ø±Ø±Ø³ÛŒ Ùˆ Ø­Ø§Ø¦Ø² Ø§Ù‡Ù…ÛŒØª Ø§Ø³Øª.

In [135]:
import pandas as pd
import numpy as np

authors_1_hot = pd.read_csv(path + 'authors_1_hot.csv')
authors_1_hot.drop(['Unnamed: 0'], axis=1, inplace=True)

In [136]:
authors_1_hot.head()

,Rachel Hauck,John Fowles,Amy Schumer,Jerzy KosiÅ„ski,Sonya Sones,Peggy Fortnum,Crystal S. Chan,Bill Moyers,Harvey Karp,Steven Naifeh,...,Mikhail Lermontov,Mourid Barghouti,Sarah Palin,Alex Tresniowski,Sandra Dallas,Eithne Wilkins,Lacey Weatherford,Peter Lerangis,Frank Bettger,Ù…Ø­Ù…Ø¯ Ø§Ø³Ù…Ø§Ø¹ÛŒÙ„â€ŒØ²Ø§Ø¯Ù‡
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [137]:
from mlxtend.frequent_patterns import apriori, fpgrowth, association_rules

In [138]:
frq_items_fpgrowth = fpgrowth(authors_1_hot, min_support = 0.25, use_colnames = True)

frq_items_fpgrowth.sort_values(by=['support'], inplace=True)

In [139]:
frq_items_fpgrowth.shape

(72, 2)

In [140]:
frq_items_fpgrowth

     support                                 itemsets
28  0.250108                         (Garth Williams)
63  0.252410  (Guy Cardwell, Mark Twain, John Seelye)
62  0.252410               (Guy Cardwell, Mark Twain)
61  0.252410              (Guy Cardwell, John Seelye)
27  0.252410                           (Guy Cardwell)
..       ...                                      ...
29  0.435470                         (J.R.R. Tolkien)
51  0.518390            (Mary GrandPrÃ©, J.K. Rowling)
17  0.518390                          (Mary GrandPrÃ©)
32  0.520056                        (Suzanne Collins)
16  0.613552                           (J.K. Rowling)

[72 rows x 2 columns]

In [141]:
author_rules = association_rules(frq_items_fpgrowth, metric ="lift", min_threshold = 1)

<div style="direction:rtl", align="justify"><h3>
    <span style='font-family:"B Nazanin"'>
Ø¯Ø± Ù…Ø¬Ù…ÙˆØ¹ Ø§Ø² Ø±ÙˆÛŒ frequent_itemset Ù‡Ø§ÛŒ Ù…ÙˆØ¬ÙˆØ¯ Ú©Ù‡ Ø­Ø§ÙˆÛŒ minsup = 0.25 Ù‡Ø³ØªÙ†Ø¯ ØªØ¹Ø¯Ø§Ø¯ 106 Ù‚Ø§Ø¹Ø¯Ù‡ Ø§Ø³ØªØ®Ø±Ø§Ø¬ Ø´Ø¯Ù‡ Ø§Ø³Øª Ùˆ ØªÙ†Ù‡Ø§ Ù‚ÙˆØ§Ø¹Ø¯ÛŒ Ú©Ù‡ lift Ø¨Ø§Ù„Ø§ÛŒ 1 Ø¯Ø§Ø±Ù†Ø¯ Ù…Ø¯Ù†Ø¸Ø± Ù…Ø§ Ù…ÛŒ Ø¨Ø§Ø´Ø¯.

In [142]:
author_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(Guy Cardwell, Mark Twain)",(John Seelye),0.252410,0.259785,0.252410,1.000000,3.849341,0.186838,inf
1,"(Guy Cardwell, John Seelye)",(Mark Twain),0.252410,0.276743,0.252410,1.000000,3.613460,0.182557,inf
2,"(Mark Twain, John Seelye)",(Guy Cardwell),0.253046,0.252410,0.252410,0.997485,3.951846,0.188539,297.255008
3,(Guy Cardwell),"(Mark Twain, John Seelye)",0.252410,0.253046,0.252410,1.000000,3.951846,0.188539,inf
4,(Mark Twain),"(Guy Cardwell, John Seelye)",0.276743,0.252410,0.252410,0.912073,3.613460,0.182557,8.502399
...,...,...,...,...,...,...,...,...,...
101,(J.K. Rowling),"(Mary GrandPrÃ©, Suzanne Collins)",0.613552,0.335929,0.335929,0.547515,1.629854,0.129819,1.467610
102,(Suzanne Collins),(J.K. Rowling),0.520056,0.613552,0.376172,0.723330,1.178923,0.057091,1.396784
103,(J.K. Rowling),(Suzanne Collins),0.613552,0.520056,0.376172,0.613106,1.178923,0.057091,1.240505
104,(Mary GrandPrÃ©),(J.K. Rowling),0.518390,0.613552,0.518390,1.000000,1.629854,0.200331,inf
105,(J.K. Rowling),(Mary GrandPrÃ©),0.613552,0.518390,0.518390,0.844901,1.629854,0.200331,3.105170

In [143]:
author_rules.to_csv(path+'author_rules.csv')

In [ ]:
del author_rules

## ğŸ“‘ Classification

<div style="direction:rtl", align="justify"><h3>
    <span style='font-family:"B Nazanin"'>
    Ø¯Ø± Ø§ÛŒÙ† Ù‚Ø³Ù…Øª Ø¨Ù‡ Ø³Ø§Ø®Øª Ù…Ø¯Ù„ Ù…ÛŒÙ¾Ø±Ø¯Ø§Ø²ÛŒÙ… . Ø¯Ø§Ø¯Ù‡ Ù‡Ø§ÛŒ Ø¨Ø§Ù„Ø§Ù†Ø³ Ø´Ø¯Ù‡ Ø¯Ø± Ù‚Ø³Ù…Øª Ù‚Ø¨Ù„ Ø±Ø§ Ø¨Ù‡ ØµÙˆØ±Øª Ú©Ø§Ù…Ù„ Ø¨Ù‡ ÙˆØ±ÙˆØ¯ÛŒ Ù…Ø¯Ù„ Ù…ÛŒØ¯Ù‡ÛŒÙ… .

In [9]:
balanced_final = pd.read_csv(path + 'balanced_classifier_input.csv')

In [10]:
authors = pd.read_csv(path + 'author_class.csv')

In [11]:
authors['book_id']=[i for i in range(1,10001)]

In [12]:
print(list(balanced_final.columns))

['user_id', 'book_id', 'rating', '1', '2', '3', '4', '5', '6', 'fantasy, paranormal', 'non-fiction', 'mystery, thriller, crime', 'fiction', 'young-adult', 'children', 'poetry', 'comics, graphic', 'romance', 'history, historical fiction, biography', 'ara', 'en', 'fre', 'ger', 'ind', 'jpn', 'other', 'per', 'pol', 'por', 'spa']

In [13]:
balanced_final.shape

(7148939, 30)

### âœ… Add authors class to final dataset

<div style="direction:rtl", align="justify"><h3>
    <span style='font-family:"B Nazanin"'>
        Ø¯Ø± Ø§ÛŒÙ† Ù‚Ø³Ù…Øª Ø¯ÛŒØªØ§Ø³Øª Ù†Ù‡Ø§ÛŒÛŒ Ø±Ø§ Ø¨Ø§ Ø¯ÛŒØªØ§Ø³Øª Ù†ÙˆÛŒØ³Ù†Ø¯Ù‡ Ù‡Ø§ Ú©Ù‡ Ø³Ø§Ø®ØªÙ‡ Ø¨ÙˆØ¯ÛŒÙ… Ø¬ÙˆÛŒÙ† Ù…ÛŒØ²Ù†ÛŒÙ… Ú©Ù‡ Ú©Ù„Ø§Ø³ Ù‡Ø§ÛŒ Ù†ÙˆÛŒØ³Ù†Ø¯Ù‡ ÛŒ Ù‡Ø± Ú©ØªØ§Ø¨ Ø¯Ø± Ø¯ÛŒØªØ§Ø³Øª Ù†Ù‡Ø§ÛŒÛŒ Ù…Ø´Ø®Øµ Ú¯Ø±Ø¯Ø¯.
        Ø¨Ù‡ Ø¹Ù„Øª Ø§ÛŒÙ†Ú©Ù‡ Ø§ÛŒÙ† Ø¯ÛŒØªØ§Ø³Øª Ø¨Ù‡ ØµÙˆØ±Øª one-hot Ø§Ø³Øª ØŒ Ø§Ø² pca Ø²Ø¯Ù† Ø±ÙˆÛŒ Ø³ØªÙˆÙ† Ù‡Ø§ÛŒ Ø¢Ù† Ø®ÙˆØ¯Ø¯Ø§Ø±ÛŒ Ú©Ø±Ø¯ÛŒÙ… Ú†ÙˆÙ† ØªØ§Ø«ÛŒØ±ÛŒ Ù†Ø®ÙˆØ§Ù‡Ø¯ Ø¯Ø§Ø´Øª .

In [14]:
balanced_result = pd.merge(balanced_final, authors,on=['book_id'])

In [15]:
balanced_result.shape

(7148939, 34)

In [16]:
balanced_result.head()

,user_id,book_id,rating,1,2,3,4,5,6,"fantasy, paranormal",...,jpn,other,per,pol,por,spa,class_0,class_1,class_2,class_others
0,1,258,5,0.10183,0.039319,-0.046848,0.028769,0.017864,0.000186,1,...,0,0,0,0,0,0,0.0,0.0,0.0,1.0
1,11,258,3,0.10183,0.039319,-0.046848,0.028769,0.017864,0.000186,1,...,0,0,0,0,0,0,0.0,0.0,0.0,1.0
2,143,258,4,0.10183,0.039319,-0.046848,0.028769,0.017864,0.000186,1,...,0,0,0,0,0,0,0.0,0.0,0.0,1.0
3,242,258,5,0.10183,0.039319,-0.046848,0.028769,0.017864,0.000186,1,...,0,0,0,0,0,0,0.0,0.0,0.0,1.0
4,325,258,4,0.10183,0.039319,-0.046848,0.028769,0.017864,0.000186,1,...,0,0,0,0,0,0,0.0,0.0,0.0,1.0

<div style="direction:rtl", align="justify"><h3>
    <span style='font-family:"B Nazanin"'>
Ù‡Ù…Ù‡ ÛŒ Ø³ØªÙˆÙ† Ù‡Ø§ Ø¨Ù‡ Ø¬Ø² Ø³ØªÙˆÙ† rating Ú©Ù‡ Ø­Ú©Ù… Ù…ØªØºÛŒØ± Ù‡Ø¯Ù Ø¯Ø§Ø±Ø¯ Ø±Ø§ Ø¯Ø§Ø®Ù„ Ù…ØªØºÛŒØ± x_train Ù…ÛŒØ±ÛŒØ²ÛŒÙ… .
        Ù…ØªØºÛŒØ± Ù‡Ø¯Ù Ú©Ù‡ Ù‡Ù…Ø§Ù† rating Ø§Ø³Øª Ø¯Ø§Ø®Ù„ y_train Ù…ÛŒØ±ÛŒØ²ÛŒÙ….
        Ù…ØªØºÛŒØ± Ù‡Ø¯Ù Ø¯Ø± ÙˆØ§Ù‚Ø¹ Ø¨Ù‡ Ø§Ø²Ø§ÛŒ Ù‡Ø± Ú©ØªØ§Ø¨ Ùˆ user ÛŒÚ© Ø§Ù…ØªÛŒØ§Ø² Ø¨ÛŒÙ† 1 ØªØ§ 5 Ø¨Ù‡ Ú©ØªØ§Ø¨ Ø§Ø®ØªØµØ§Øµ Ø¯Ø§Ø¯Ù‡ Ø§Ø³Øª Ú©Ù‡ Ø§ÛŒÙ† Ø§Ù…ØªÛŒØ§Ø² Ø±Ø§ user Ø¨Ù‡ Ú©ØªØ§Ø¨ Ø¯Ø§Ø¯Ù‡ Ø§Ø³Øª . 
        Ø­Ø§Ù„ Ù‡Ø¯Ù Ù…Ø§ Ø§ÛŒÙ† Ø§Ø³Øª Ú©Ù‡ Ø¨Ø§ Ø¯Ø§Ø¯Ù† user Ùˆ ÙˆÛŒÚ˜Ú¯ÛŒ Ú©ØªØ§Ø¨ Ø¨Ù‡ Ù…Ø¯Ù„ ØŒ Ø§Ù…ØªÛŒØ§Ø²ÛŒ Ú©Ù‡ Ø§Ø­ØªÙ…Ø§Ù„ Ø¯Ø§Ø±Ø¯ Ø§ÛŒÙ† user Ø¨Ù‡ Ú©ØªØ§Ø¨ Ù…ÙˆØ±Ø¯ Ù†Ø¸Ø± Ø¨Ø¯Ù‡Ø¯ Ø±Ø§ Ù¾ÛŒØ´ Ø¨ÛŒÙ†ÛŒ Ú©Ù†ÛŒÙ… 
        Ù¾Ø³ Ø§ÛŒÙ† Ù…Ø³Ø¦Ù„Ù‡ Ø§Ø² Ù†ÙˆØ¹ classification Ø§Ø³Øª .

## âœï¸ Test model on train and test data

## â›” Not used in the rest of code because this is the test

In [13]:

x_train = balanced_result.drop(columns=['rating']).copy()
y_train = balanced_result[['rating']].copy()

In [14]:
x_train['u_2'] = x_train.user_id.copy()
x_train['u_3'] = x_train.user_id.copy()
x_train['u_4'] = x_train.user_id.copy()
x_train['u_5'] = x_train.user_id.copy()
x_train['u_6'] = x_train.user_id.copy()
x_train['u_7'] = x_train.user_id.copy()
x_train['u_8'] = x_train.user_id.copy()

### âœ… Separating test and train data

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(x_train, y_train, test_size = 0.2, random_state = 5)

### âœ… Check distribution of target variable in test and train data

In [16]:
print(Y_train['rating'].value_counts() / Y_train['rating'].value_counts().sum() * 100)

4    29.918986
5    27.747545
3    19.174105
2    11.999071
1    11.160293
Name: rating, dtype: float64

In [17]:
print(Y_test['rating'].value_counts() / Y_test['rating'].value_counts().sum() * 100)

4    29.927933
5    27.708234
3    19.186061
2    12.003738
1    11.174034
Name: rating, dtype: float64

<div style="direction:rtl", align="justify"><h3>
    <span style='font-family:"B Nazanin"'>
ØªÙˆØ²ÛŒØ¹ Ù…ØªØºÛŒØ± Ù‡Ø¯Ù Ø¯Ø± Ø¯Ùˆ Ø¯Ø§Ø¯Ù‡ ØªØ³Øª Ùˆ ÛŒØ§Ø¯Ú¯ÛŒØ±ÛŒ Ø­Ø¯ÙˆØ¯Ø§ ÛŒÚ©Ø³Ø§Ù† Ù…ÛŒ Ø¨Ø§Ø´Ø¯.

In [19]:
del balanced_result
del balanced_final

In [25]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import SGD
from tensorflow.keras.layers import Dense

In [26]:
from tensorflow.keras.utils import to_categorical 
from tensorflow.keras.utils import to_categorical

Y_train_1 = to_categorical(Y_train)[:,1:].copy()

### âœ… Building model (using keras library)

In [28]:
# define the keras model
model_test = Sequential()
model_test.add(Dense(20, input_dim=len(X_train.columns), activation='relu',kernel_initializer='random_normal',bias_initializer='zeros'))
model_test.add(Dense(30, activation='relu'))
model_test.add(Dense(20, activation='tanh'))
model_test.add(Dense(30, activation='relu'))
model_test.add(Dense(5, activation='softmax'))
# compile the keras model
# myoptimizer = optimizers.Adam(learning_rate=0.001)
opt = SGD(learning_rate=0.001, momentum=0.9)
model_test.compile(loss='categorical_crossentropy', optimizer=opt, metrics=['accuracy'])
# fit the keras model on the dataset
history_test = model_test.fit(X_train, Y_train_1, epochs=4, batch_size=100000,shuffle=True)

Epoch 1/4
58/58 [==============================] - 25s 95ms/step - loss: 1.5827 - accuracy: 0.2686
Epoch 2/4
58/58 [==============================] - 5s 88ms/step - loss: 1.5343 - accuracy: 0.2972
Epoch 3/4
58/58 [==============================] - 5s 85ms/step - loss: 1.5337 - accuracy: 0.2974
Epoch 4/4
58/58 [==============================] - 5s 90ms/step - loss: 1.5335 - accuracy: 0.2976

In [30]:
y_pred_pro_test = model_test.predict(X_test)
y_pred_class_test = [np.ceil(np.median(np.where((y_pred_pro_test[i] >= y_pred_pro_test[i].mean()))[0])) 
                     for i in range(len(y_pred_pro_test))]

In [32]:
y_pred_orig_test = pd.DataFrame()
y_pred_orig_test['origin'] = np.ravel(Y_test)
y_pred_orig_test['predict'] = y_pred_class_test

### âœ… We use a trick to find the needed accuracy

In [216]:
y_pred_orig_test['result'] = np.zeros((len(y_pred_orig_test),1))
y_pred_orig_test['result'][abs(y_pred_orig_test['predict'] - y_pred_orig_test['origin']) <= 1] = 1

100 * y_pred_orig_test['result'].sum() / len(y_pred_orig_test)

76.80551242561835

<div style="direction:rtl", align="justify"><h3>
    <span style='font-family:"B Nazanin"'>
        Ø§Ø¶Ø§ÙÙ‡ Ú©Ø±Ø¯Ù† Ø³ØªÙˆÙ† Ù‡Ø§ÛŒ Ú©Ù¾ÛŒ Ø§Ø² Ø³ØªÙˆÙ† Ø§ÛŒØ¯ÛŒ ÛŒÙˆØ²Ø± Ø¨Ù‡ Ø¯ÛŒØªØ§Ø³Øª Ø¨Ø§Ø¹Ø« Ø´Ø¯ Ø¯Ù‚Øª Ú©Ù…ÛŒ Ø§ÙØ²Ø§ÛŒØ´ ÛŒØ§ÙØª Ø¯Ø± ÙˆØ§Ù‚Ø¹ Ø§Ø² 75.7 Ø¨Ù‡ 76.8 Ø§ÙØ²Ø§ÛŒØ´ ÛŒØ§ÙØª Ø²ÛŒØ±Ø§ Ø¨Ø± Ø§Ø³Ø§Ø³ ÙØ§Ø² EDA Ù…ØªÙˆØ¬Ù‡ Ø´Ø¯ÛŒÙ… Ù‡ÛŒÚ† Ù…ØªØºÛŒØ±ÛŒ Ø¨Ù‡ Ø§Ù†Ø¯Ø§Ø²Ù‡ user Ø¨Ø± Ø®Ø±ÙˆØ¬ÛŒ Ù…ÙˆØ«Ø± Ù†ÛŒØ³Øª.

## â›” Above code is not used in the rest of code because this is the test

In [17]:
from sklearn.model_selection import train_test_split

x_train = balanced_result.drop(columns=['rating']).copy()
y_train = balanced_result[['rating']].copy()

In [18]:
print(y_train['rating'].value_counts() / y_train['rating'].value_counts().sum() * 100)

4    29.920776
5    27.739683
3    19.176496
2    12.000004
1    11.163041
Name: rating, dtype: float64

In [19]:
del balanced_result
del balanced_final

<div style="direction:rtl", align="justify"><h3>
    <span style='font-family:"B Nazanin"'>
    Ø¨Ø±Ø§ÛŒ Ù…Ø¯Ù„Ø³Ø§Ø²ÛŒ Ø§Ø² Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ… Ø´Ø¨Ú©Ù‡ Ø¹ØµØ¨ÛŒ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒÚ©Ù†ÛŒÙ… ØªØ§ Ø¨ØªÙˆØ§Ù† Ø¯Ø§Ø¯Ù‡ Ù‡Ø§ÛŒ Ø²ÛŒØ§Ø¯ Ø±Ø§ Ø±ÙˆÛŒ Ø¢Ù† ØªØ³Øª Ú©Ø±Ø¯ .
    Ø§Ø² Ú©ØªØ§Ø¨Ø®Ø§Ù†Ù‡ keras Ú©Ù‡ Ø¨Ø³ÛŒØ§Ø± Ø¯Ø± Ø§ÛŒÙ† Ø²Ù…ÛŒÙ†Ù‡ Ù‚ÙˆÛŒ Ø§Ø³Øª Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒÚ©Ù†ÛŒÙ….
    ØªØ¹Ø¯Ø§Ø¯ Ù„Ø§ÛŒÙ‡ Ù‡Ø§ Ùˆ Ù†ÙˆØ±ÙˆÙ† Ù‡Ø§ÛŒ Ù…Ø®ØªÙ„Ù Ø±Ø§ ØªØ³Øª Ú©Ø±Ø¯ÛŒÙ… Ùˆ Ø¨Ù‡ØªØ±ÛŒÙ† Ø¯Ù‚Øª Ø±Ø§ Ø¯Ø± Ù…Ø¯Ù„ÛŒ Ø¨Ø¯Ø³Øª Ø¢ÙˆØ±Ø¯ÛŒÙ… Ú©Ù‡ Ø´Ø§Ù…Ù„ 4 Ù„Ø§ÛŒÙ‡ ÛŒ Ù¾Ù†Ù‡Ø§Ù† Ùˆ ØªØ¹Ø¯Ø§Ø¯ Ù†ÙˆØ±ÙˆÙ† Ø¨Ù‡ ØªØ±ØªÛŒØ¨ 20Ùˆ30Ùˆ20Ùˆ30 Ø§Ø³Øª.
    Ø§Ø² Ø§Ú©ØªÛŒÙˆÛŒØ´Ù† ÙØ§Ù†Ú©Ø´Ù† Ù‡Ø§ÛŒ Ù…Ø®ØªÙ„Ù Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ø±Ø¯ÛŒÙ… Ùˆ Ø¯Ø± Ù…Ø¯Ù„ Ø§Ø² relu , tanh , sigmoid Ø¨Ù‡Ø±Ù‡ Ø¨Ø±Ø¯ÛŒÙ… Ùˆ Ø§Ø² ØªØ±Ú©ÛŒØ¨ Ø§ÛŒÙ† Ø³Ù‡ ØªØ§Ø¨Ø¹ ØªÙˆØ§Ù†Ø³ØªÛŒÙ… Ø¯Ù‚Øª Ø®ÙˆØ¨ÛŒ Ú©Ø³Ø¨ Ú©Ù†ÛŒÙ… .
        Ù…Ø¯Ù„ Ø±Ø§ Ø¨Ø§ SGD optimizer Ùˆ Ù…Ø¹ÛŒØ§Ø± accuracy Ú©Ø§Ù…Ù¾Ø§ÛŒÙ„ Ú©Ø±Ø¯ÛŒÙ… .
        Ø¯Ø± Ø´Ø¨Ú©Ù‡ Ø¹ØµØ¨ÛŒ Ù…Ø¹ÛŒØ§Ø±ÛŒ Ø¨Ù‡ Ù†Ø§Ù… batch size Ø¨Ø±Ø§ÛŒ Ø¯Ø§Ø¯Ù‡ Ù‡Ø§ÛŒ Ø¨Ø²Ø±Ú¯ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒØ´ÙˆØ¯ Ú©Ù‡ Ù‡Ù…Ø²Ù…Ø§Ù† Ù‡Ù…Ù‡ ÛŒ Ø¯Ø§Ø¯Ù‡ Ù‡Ø§ Ø±Ø§ Ù¾Ø±Ø¯Ø§Ø²Ø´ Ù†Ù…ÛŒÚ©Ù†Ø¯. 
        Ø¨Ø±Ø§ÛŒ Ø§ÛŒÙ†Ú©Ù‡ ØªØ¹Ø¯Ø§Ø¯ Ø¯Ø§Ø¯Ù‡ Ù‡Ø§ Ø­Ø¯ÙˆØ¯ 7 Ù…ÛŒÙ„ÛŒÙˆÙ† Ø´Ø¯Ù‡ Ø§Ø³Øª ØŒ Ù‡Ø± 100,000 ÛŒÚ©Ø¨Ø§Ø± Ù…Ø¯Ù„ Ø±Ø§ Ø§Ø¬Ø±Ø§ Ù…ÛŒÚ©Ù†Ø¯ Ø¯Ø±ÙˆØ§Ù‚Ø¹ batch size
        Ø¨Ø±Ø§Ø¨Ø± Ø¨Ø§ 100,000 Ø§Ø³Øª.

In [20]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import SGD
from tensorflow.keras.layers import Dense

In [22]:
from tensorflow.keras.utils import to_categorical 
from tensorflow.keras.utils import to_categorical

y_train_1 = to_categorical(y_train)[:,1:].copy()

In [23]:
import gc
gc.collect()

30

### âœ… We add some copies of user_id column 
### in order to increase effect of mentioned column in learning model

In [24]:
x_train['u_2'] = x_train.user_id.copy()
x_train['u_3'] = x_train.user_id.copy()
x_train['u_4'] = x_train.user_id.copy()
x_train['u_5'] = x_train.user_id.copy()
x_train['u_6'] = x_train.user_id.copy()
x_train['u_7'] = x_train.user_id.copy()
x_train['u_8'] = x_train.user_id.copy()

In [25]:
# define the keras model
model = Sequential()
model.add(Dense(20, input_dim=len(x_train.columns), activation='relu',kernel_initializer='random_normal',bias_initializer='zeros'))
model.add(Dense(30, activation='relu'))
model.add(Dense(20, activation='tanh'))
model.add(Dense(30, activation='relu'))
model.add(Dense(5, activation='softmax'))
# compile the keras model
# myoptimizer = optimizers.Adam(learning_rate=0.001)
opt = SGD(learning_rate=0.001, momentum=0.9)
model.compile(loss='categorical_crossentropy', optimizer=opt, metrics=['accuracy'])
# fit the keras model on the dataset
history = model.fit(x_train, y_train_1, epochs=4, batch_size=100000,shuffle=True)

Epoch 1/4
72/72 [==============================] - 20s 89ms/step - loss: 1.6254 - accuracy: 0.2595
Epoch 2/4
72/72 [==============================] - 6s 84ms/step - loss: 1.5326 - accuracy: 0.2991
Epoch 3/4
72/72 [==============================] - 7s 96ms/step - loss: 1.5325 - accuracy: 0.2990
Epoch 4/4
72/72 [==============================] - 7s 91ms/step - loss: 1.5324 - accuracy: 0.2992

In [26]:
y_pred_pro = model.predict(x_train)

In [27]:
y_pred_pro

array([[0.13639387, 0.1736348 , 0.21443917, 0.2631724 , 0.21235974],
       [0.12053148, 0.17371505, 0.22939922, 0.26921672, 0.20713748],
       [0.1170559 , 0.11507253, 0.19598363, 0.3111953 , 0.26069257],
       ...,
       [0.11140109, 0.11954848, 0.19112001, 0.29932374, 0.27860677],
       [0.11140109, 0.11954848, 0.19112001, 0.29932374, 0.27860677],
       [0.11140109, 0.11954848, 0.19112001, 0.29932374, 0.27860677]],
      dtype=float32)

In [28]:
y_pred_class = [np.ceil(np.median(np.where((y_pred_pro[i] >= y_pred_pro[i].mean()))[0])) 
                for i in range(len(y_pred_pro))]

In [29]:
y_pred_orig_model = pd.DataFrame()
y_pred_orig_model['origin'] = np.ravel(y_train)
y_pred_orig_model['predict'] = y_pred_class

### âœ… Check accuracy

In [215]:
y_pred_orig_model['result'] = np.zeros((len(y_pred_orig_model),1))
y_pred_orig_model['result'][abs(y_pred_orig_model['predict'] - y_pred_orig_model['origin']) <= 1] = 1

100 * y_pred_orig_model.result.sum() / len(y_pred_orig_model)

76.82748447007312

In [31]:
import gc
gc.collect()

780

### âœ… Building model (using sklearn library)

In [40]:
from sklearn.neural_network import MLPClassifier

clf = MLPClassifier(solver='adam', hidden_layer_sizes=(20,30,20,30), 
                    activation='tanh', shuffle=True, random_state=1,
                    batch_size=100000,learning_rate='adaptive', verbose=True)

clf.fit(x_train, np.ravel(y_train))

Iteration 1, loss = 1.54007054
Iteration 2, loss = 1.53041011
Iteration 3, loss = 1.52988273
Iteration 4, loss = 1.53015800
Iteration 5, loss = 1.53014494
Iteration 6, loss = 1.53018271
Iteration 7, loss = 1.53039062
Iteration 8, loss = 1.52994977
Iteration 9, loss = 1.52958309
Iteration 10, loss = 1.52978680
Iteration 11, loss = 1.53126947
Iteration 12, loss = 1.53041903
Iteration 13, loss = 1.53174634
Iteration 14, loss = 1.53144766
Iteration 15, loss = 1.53207096
Iteration 16, loss = 1.53144545
Iteration 17, loss = 1.53048696
Iteration 18, loss = 1.53048481
Iteration 19, loss = 1.53047394
Iteration 20, loss = 1.53039251
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(activation='tanh', batch_size=100000,
              hidden_layer_sizes=(20, 30, 20, 30), learning_rate='adaptive',
              random_state=1, verbose=True)

<div style="direction:rtl", align="justify"><h3>
    <span style='font-family:"B Nazanin"'>
    Ø§ÛŒÙ†Ø¨Ø§Ø± Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² mlp classifier Ù…Ø¯Ù„ Ø±Ø§ ØªØ´Ú©ÛŒÙ„ Ø¯Ø§Ø¯Ù‡ Ø§ÛŒÙ… Ú©Ù‡ Ø§ÛŒÙ† Ù…Ø¯Ù„ Ù†ÛŒØ² Ø´Ø§Ù…Ù„ 4 Ù„Ø§ÛŒÙ‡ Ù†Ù‡Ø§Ù† Ø¨Ø§ ØªØ¹Ø¯Ø§Ø¯ Ù†ÙˆØ±ÙˆÙ† Ù‡Ø§ÛŒ 20 Ùˆ 30 Ùˆ 20 Ùˆ 30 Ù…ÛŒ Ø¨Ø§Ø´Ø¯ Ùˆ Ø§Ø² activation function tanh Ùˆ adam solver Ø¨Ù‡Ø±Ù‡ Ú¯ÛŒØ±ÛŒ Ú©Ø±Ø¯Ù‡ Ø§Ø³Øª.

In [41]:
clf.score(x_train,np.ravel(y_train))

0.2992080363253904

In [44]:
y_pred_pro_clf = clf.predict_proba(x_train)

In [45]:
y_pred_class_clf = [np.ceil(np.median(np.where((y_pred_pro_clf[i] >= y_pred_pro_clf[i].mean()))[0])) 
                    for i in range(len(y_pred_pro_clf))]

In [46]:
y_pred_orig = pd.DataFrame()
y_pred_orig['origin'] = np.ravel(y_train)
y_pred_orig['predict'] = y_pred_class_clf

### âœ… Check accuracy

In [214]:
y_pred_orig['result'] = np.zeros((7148939,1))
y_pred_orig['result'][abs(y_pred_orig['predict'] - y_pred_orig['origin']) <= 1] = 1

100 * y_pred_orig.result.sum() / len(y_pred_orig)

76.50100245644843

In [48]:
import gc
gc.collect()

0

<div style="direction:rtl", align="justify"><h3>
    <span style='font-family:"B Nazanin"'>
Ù‡Ù…Ø§Ù†Ø·ÙˆØ± Ú©Ù‡ Ø¯ÛŒØ¯Ù‡ Ù…ÛŒØ´ÙˆØ¯ Ø¯Ù‚Øª Ø¨Ø±Ø§Ø¨Ø± Ø¨Ø§ 76.5 Ø¯Ø±ØµØ¯ Ø´Ø¯Ù‡ Ø§Ø³Øª Ùˆ Ù‡Ù…ÛŒÙ† Ù…Ø¯Ù„ Ø±Ø§ ÙˆÙ‚ØªÛŒ Ø¯Ø§Ø¯Ù‡ ÛŒ ØªØ³Øª Ùˆ ØªØ±ÛŒÙ† Ø±Ø§ Ø¬Ø¯Ø§ Ú©Ø±Ø¯Ù‡ Ø¨ÙˆØ¯ÛŒÙ… Ù†ÛŒØ² Ø§Ø¬Ø±Ø§ Ú©Ø±Ø¯ÛŒÙ… Ùˆ Ø¯Ù‚Øª Ø¨Ø±Ø§ÛŒ Ø¯Ø§Ø¯Ù‡ ÛŒ ØªØ³Øª Ù†ÛŒØ² 76.8 Ø¯Ø±ØµØ¯ Ø´Ø¯Ù‡ Ø¨ÙˆØ¯ Ø§Ù…Ø§ Ú†ÙˆÙ† Ø¨Ø±Ø§ÛŒ Ø­Ø§Ù„Øª Ú©Ù„ÛŒ Ø¨Ø§ÛŒØ¯ Ú©Ù„ Ø¯Ø§Ø¯Ù‡ Ù‡Ø§ Ø±Ø§ Ø§Ù…ÙˆØ²Ø´ Ø¯Ù‡ÛŒÙ… ØŒ Ú©Ù„ Ø¯Ø§Ø¯Ù‡ Ø±Ø§ Ø¨Ù‡ Ù…Ø¯Ù„ Ø¯Ø§Ø¯ÛŒÙ… .

## ğŸ“‘ Build users  dataset and run model

<div style="direction:rtl", align="justify"><h3>
    <span style='font-family:"B Nazanin"'>
Ø¯Ø± Ø§ÛŒÙ† Ù‚Ø³Ù…Øª Ù…Ø¯Ù„ Ø³Ø§Ø®ØªÙ‡ Ø´Ø¯Ù‡ Ø±Ø§ Ø¯Ø±ØµØ¯ Ù‡Ø³ØªÛŒÙ… Ú©Ù‡ Ø¨Ø±Ø§ÛŒ ÛŒÙˆØ²Ø±Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ø¨Ù‡ Ø¹Ù†ÙˆØ§Ù† Ø¯Ø§Ø¯Ù‡ ÛŒ ØªØ³Øª ØªÙ‡ÛŒÙ‡ Ù…ÛŒØ´ÙˆÙ†Ø¯ ØªØ³Øª Ú©Ù†ÛŒÙ… .
Ø¯Ø± Ù‚Ø³Ù…Øª Ú©Ø§ÙˆØ´ Ù‚ÙˆØ§Ø¹Ø¯ ØªÙˆØ§Ù†Ø³ØªÛŒÙ… Ú©ØªØ§Ø¨ Ù‡Ø§ Ùˆ Ù†ÙˆÛŒØ³Ù†Ø¯Ù‡ Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ø¨Ø§Ù‡Ù… Ù…Ø±Ø§Ø¬Ø¹Ù‡ Ù…ÛŒØ´ÙˆÙ†Ø¯
        Ø±Ø§ Ø¨Ø¯Ø³Øª Ø¢ÙˆØ±ÛŒÙ… .

In [25]:
balanced_final = pd.read_csv(path + 'balanced_classifier_input.csv')

In [26]:
authors_df = pd.read_csv(path + 'author_class.csv')

In [27]:
authors_df['book_id']=[i for i in range(1,10001)]

In [28]:
balanced_result = pd.merge(balanced_final, authors_df, on=['book_id'])

In [50]:
from sklearn.model_selection import train_test_split

x_train = balanced_result.drop(columns=['rating']).copy()
y_train = balanced_result[['rating']].copy()

In [59]:
del balanced_final

In [60]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import SGD
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical 
from tensorflow.keras.utils import to_categorical

y_train_1 = to_categorical(y_train)[:,1:].copy()

In [61]:
x_train['u_2'] = x_train.user_id.copy()
x_train['u_3'] = x_train.user_id.copy()
x_train['u_4'] = x_train.user_id.copy()
x_train['u_5'] = x_train.user_id.copy()
x_train['u_6'] = x_train.user_id.copy()
x_train['u_7'] = x_train.user_id.copy()
x_train['u_8'] = x_train.user_id.copy()

In [ ]:
#item base . user base

In [62]:
# define the keras model
model = Sequential()
model.add(Dense(20, input_dim=len(x_train.columns), activation='relu',kernel_initializer='random_normal',bias_initializer='zeros'))
model.add(Dense(30, activation='relu'))
model.add(Dense(20, activation='tanh'))
model.add(Dense(30, activation='relu'))
model.add(Dense(5, activation='softmax'))
# compile the keras model
# myoptimizer = optimizers.Adam(learning_rate=0.001)
opt = SGD(learning_rate=0.001, momentum=0.9)
model.compile(loss='categorical_crossentropy', optimizer=opt, metrics=['accuracy'])
# fit the keras model on the dataset
history = model.fit(x_train, y_train_1, epochs=4, batch_size=100000,shuffle=True)

Epoch 1/4
72/72 [==============================] - 12s 88ms/step - loss: 1.5986 - accuracy: 0.2871
Epoch 2/4
72/72 [==============================] - 6s 84ms/step - loss: 1.5326 - accuracy: 0.2982
Epoch 3/4
72/72 [==============================] - 6s 84ms/step - loss: 1.5326 - accuracy: 0.2983
Epoch 4/4
72/72 [==============================] - 6s 89ms/step - loss: 1.5326 - accuracy: 0.2983

In [13]:
del x_train
del y_train

In [14]:
author_rules = pd.read_csv(path + 'author_rules.csv').drop(['Unnamed: 0'],axis=1)
book_rules = pd.read_csv(path + 'book_rules.csv').drop(['Unnamed: 0'],axis=1)

In [15]:
import gc
gc.collect()

837

<div style="direction:rtl", align="justify"><h3>
    <span style='font-family:"B Nazanin"'>
ÛŒÚ©ÛŒ Ø§Ø² ÛŒÙˆØ²Ø±Ù‡Ø§ Ø±Ø§ Ø¯Ø± Ø¨Ø§Ø²Ù‡ ÛŒ Ù…Ø¹ØªØ¨Ø± Ø§Ù†ØªØ®Ø§Ø¨ Ù…ÛŒÚ©Ù†ÛŒÙ… Ùˆ Ø¯Ø± Ø¯ÛŒØªØ§Ø³Øª Ú©ØªØ§Ø¨ ØŒ Ú©ØªØ§Ø¨ Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ø®ÙˆØ§Ù†Ø¯Ù‡ Ø§Ø³Øª Ø±Ø§ Ø¯Ø± Ù…ØªØºÛŒØ±ÛŒ Ø±ÛŒØ®ØªÙ‡ Ùˆ Ø¯Ø± Ù‚ÙˆØ§Ø¹Ø¯ Ø¨Ø¯Ø³Øª Ø¢Ù…Ø¯Ù‡ Ø¨Ø±Ø±Ø³ÛŒ Ù…ÛŒÚ©Ù†ÛŒÙ… Ú©Ù‡ Ú©Ø¯Ø§Ù… ÛŒÚ©
        Ø§Ø² Ù…Ù‚Ø¯Ù… Ù‡Ø§ Ø²ÛŒØ±Ù…Ø¬Ù…ÙˆØ¹Ù‡ ÛŒ Ú©ØªØ¨ÛŒ Ø§Ø³Øª Ú©Ù‡ ÛŒÙˆØ²Ø± Ø®ÙˆØ§Ù†Ø¯Ù‡ Ø§Ø³Øª Ùˆ Ø³Ù¾Ø³ ØªØ§Ù„ÛŒ Ø¢Ù† Ù‚ÙˆØ§Ø¹Ø¯ Ø±Ø§ Ø¯Ø± Ù„ÛŒØ³ØªÛŒ ÙˆØ§Ø±Ø¯ Ù…ÛŒÚ©Ù†ÛŒÙ… Ùˆ Ø¯Ø± ÙˆØ§Ù‚Ø¹ Ù…ÙˆØ§Ø±Ø¯ÛŒ Ú©Ù‡ Ø¯Ø± Ø§ÛŒÙ† Ù„ÛŒØ³Øª Ù‡Ø³Øª Ø±Ø§ Ø¨Ù‡ ÛŒÙˆØ²Ø± Ù¾ÛŒØ´Ù†Ù‡Ø§Ø¯ Ù…ÛŒØ¯Ù‡ÛŒÙ… .
        Ø¯Ø± Ù…ÙˆØ§Ø±Ø¯ÛŒ Ú©Ù‡ Ù‡ÛŒÚ† ÛŒÚ© Ø§Ø² Ù…Ù‚Ø¯Ù… Ù‡Ø§ Ø²ÛŒØ±Ù…Ø¬Ù…ÙˆØ¹Ù‡ Ú©ØªØ¨ Ø®ÙˆØ§Ù†Ø¯Ù‡ Ø´Ø¯Ù‡ Ù†Ø¨ÙˆØ¯ØŒ Ù‡Ù…ÛŒÙ† Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ… Ø±Ø§ Ø¨Ø±Ø§ÛŒ ØªØ§Ù„ÛŒ Ø§Ø¬Ø±Ø§ Ù…ÛŒÚ©Ù†ÛŒÙ… .
        Ø¯Ø± Ø¢Ø®Ø± Ù†ÛŒØ² Ú©ØªØ§Ø¨ Ù‡Ø§ÛŒ Ù¾ÛŒØ´Ù†Ù‡Ø§Ø¯ Ø´Ø¯Ù‡ Ø±Ø§ Ø¨Ù‡ Ù…Ø¯Ù„ Ø¯Ø§Ø¯Ù‡ Ùˆ Ø§Ù…ØªÛŒØ§Ø²ÛŒ Ú©Ù‡ ÛŒÙˆØ²Ø± Ø§Ø­ØªÙ…Ø§Ù„ Ø¯Ø§Ø±Ø¯ Ø¨Ù‡ Ø¢Ù†Ù‡Ø§ Ø¨Ø¯Ù‡Ø¯ Ø±Ø§ Ø¨Ø¯Ø³Øª Ù…ÛŒ Ø¢ÙˆØ±ÛŒÙ… Ùˆ Ø§Ø² Ø¨ÛŒÙ† Ø¢Ù†Ù‡Ø§ ØªØ¹Ø¯Ø§Ø¯ÛŒ Ø±Ø§ Ú©Ù‡ Ø§Ù…ØªÛŒØ§Ø² Ø¨ÛŒØ´ØªØ±ÛŒ Ú¯Ø±ÙØªÙ‡ Ø§Ù†Ø¯ Ø¨Ù‡ ÛŒÙˆØ²Ø± Ù¾ÛŒØ´Ù†Ù‡Ø§Ø¯ Ù…ÛŒØ¯Ù‡ÛŒÙ….

In [134]:
def recommender(read_list, df):  
    recomended_list = set()
    for i in range(len(df)):
        if set(eval(df['antecedents'].loc[i])).issubset(set(read_list)):
            for j in eval(df['consequents'].loc[i]):
                recomended_list.add(j)
    
    if len(recomended_list) == 0:
        for i in range(len(df)):
            if set(eval(df['consequents'].loc[i])).issubset(set(read_list)):
                for j in eval(df['antecedents'].loc[i]):
                    recomended_list.add(j)
    
    return recomended_list.difference(read_list)

In [218]:
authors_read = [ 'David McDuff', 'Zadie Smith', 'Zadie Smith', 'Amy Tan', 'Amy Tan', 'Amy Tan', 'Amy Tan', 
                'Margaret Atwood', 'Margaret Atwood', 'Jane Austen', 'Tony Tanner', 'Ros Ballaster', 
                'Virginia Woolf', 'Jonathan Safran Foer', 'Jane Austen', 'Kathryn Sutherland', 'John Seelye']

recomended_list = recommender(authors_read, author_rules)
print(recomended_list)
print('______________________________________')
print(len(recomended_list), ' recomended item')

{'Mark Twain', 'J.K. Rowling', 'Guy Cardwell'}
______________________________________
3  recomended item

In [213]:
b = ['8452', '522', '4788', '150', '9962', '9790', '1283', '9049', '9215', '4', 
    '6745', '247', '1378', '420', '815', '104', '6212', '1142', '184', '8389', '1025', '4715', '8492', '977', 
    '2615', '265', '2190', '2403', '905', '2963', '9966', '3700', '773', '715', '782', '599', '4290', '660', 
    '9533', '1953', '1598', '501', '427', '7401', '138', '229', '77', '738', '6607', '4686', '5347', '410', '117', 
    '59', '484', '177', '1928', '1005', '118', '1714', '4057', '3311', '5395', '883', '76', '1664', '587', '471', 
    '3229', '2235', '101', '28', '765', '55', '119', '5932', '2010', '13', '1078', '1929', '9014', '1068', '2680', 
    '531', '301', '659', '4090', '32', '58', '15', '255', '5448', '3566', '2439', '932', '1146', '726', '8403', '4582', 
    '6274', '5765', '10', '233', '66']

recomended_list = recommender(b, book_rules)
print(recomended_list)
print('______________________________________')
print(len(recomended_list), ' recomended item')

{'35', '7', '1', '65', '63', '17', '23', '27', '54', '33', '57', '18', '21', '47', '19', '5', '45', '43', '22', '46', '29', '30', '3', '20', '60', '48', '38', '37', '8', '36', '31', '2', '11', '25', '14', '9', '16', '24', '6', '26', '42'}
______________________________________
41  recomended item

In [203]:
    
import re
def recom_system(u_id):
    authors_read = []
    
    x = rating[rating['user_id'] == u_id]
    reads = x['book_id'].unique()
    for _bid_ in reads:
        authors = re.split(',', book.loc[_bid_ -1, 'authors'])
        for _au_ in authors:
            authors_read.append(_au_.lstrip())
        
    x = to_read[to_read['user_id'] == u_id]
    reads = x['book_id'].unique()
    for _bid_ in reads:
        authors = re.split(',', book.loc[_bid_ -1, 'authors'])
        for _au_ in authors:
            authors_read.append(_au_.lstrip())
            
    #print('authors_read', authors_read)
    author_recomended_list = recommender(authors_read, author_rules)
    #print(author_recomended_list)
    # -------------------------------------------------------------- #

    books_read = []
    x = rating[rating['user_id'] == u_id]
    reads = x['book_id'].unique()
    for _bid_ in reads:
        books_read.append(str(_bid_))
    
    x = to_read[to_read['user_id'] == u_id]
    reads = x['book_id'].unique()
    for _bid_ in reads:
        books_read.append(str(_bid_))
    # -------------------------------------------------------------- #

    book_recom_author = []
    for i in range(len(book)):
        auth_list = re.split(',',book.loc[i,'authors'])
        if set(auth_list).issubset((author_recomended_list)):
            book_recom_author.append(book.loc[i,'book_id'])
    # -------------------------------------------------------------- #
    #print('book_read', books_read)
    book_recomended_list = recommender(books_read, book_rules)
    #print('book_recomended_list', book_recomended_list)
    # -------------------------------------------------------------- #
    
    final_recom_book = set()
    final_recom_book.update(set(book_recomended_list))
    final_recom_book.update(set(book_recom_author))
    #final_recom_book = [int(i)-1 for i in final_recom_book]
    #print('\n\n')
    #print(final_recom_book)
    #print(len(final_recom_book))
    # -------------------------------------------------------------- #
    
    test_user_1 = pd.DataFrame(columns=balanced_result.columns)
    
    for _bid_ in final_recom_book:
        selected = balanced_result[balanced_result['book_id'] == int(_bid_)]
        test_user_1 = test_user_1.append(selected.iloc[0]) 

    test_user_1['user_id'] = [u_id for j in range(len(test_user_1))]
    
    test_user_1 = test_user_1.drop_duplicates(subset=['book_id'], keep='first')
    #display(test_user_1)
    
     # -------------------------------------------------------------- #
    
    test_user_1['u_2'] = test_user_1.user_id.copy()
    test_user_1['u_3'] = test_user_1.user_id.copy()
    test_user_1['u_4'] = test_user_1.user_id.copy()
    test_user_1['u_5'] = test_user_1.user_id.copy()
    test_user_1['u_6'] = test_user_1.user_id.copy()
    test_user_1['u_7'] = test_user_1.user_id.copy()
    test_user_1['u_8'] = test_user_1.user_id.copy()
    
    test_user_1.drop(columns=['rating'], inplace=True)
    #display((test_user_1).sort_index())    
    if len(test_user_1) == 0:
        return
    recom_user_1 = model.predict(test_user_1)
    y_pred_class_model = [np.ceil(np.median(np.where((recom_user_1[i] >= recom_user_1[i].mean()))[0])) 
                          for i in range(len(recom_user_1))]
    
    data = pd.DataFrame(y_pred_class_model)

    print('---------------------------------------------------------')
    final_return = pd.DataFrame(columns=['book_id','rate'])
    final_return.book_id = test_user_1.book_id
    final_return = pd.merge(final_return,book[['book_id','title']], on=['book_id'])

    final_return.rate = np.array(y_pred_class_model) + 1
    final_return = final_return.sort_values(by=['rate'],ascending=False)
    final_return.drop_duplicates(inplace=True)
    return final_return.iloc[:10]

#     recom_user_1 = model.predict(test_user_1)
#     recom_user_clss = model.predict_classes(test_user_1)
#     print(recom_user_clss)
#     print('________________________',u_id,'________________________')

#     data = pd.DataFrame(recom_user_clss)
#     print(data.value_counts())
#     print('---------------------------------------------------------')
#     print(" class in model :")
#     print(recom_user_clss)
#     print('---------------------------------------------------------')
#     print(" probability in model :")
#     print(recom_user_1)

## ğŸ’ Real Test & Deployment Phase

<hr style="border:2px solid blue"> </hr>

<div style="direction:rtl", align="justify"><h3>
    <span style='font-family:"B Nazanin"'>
        Ø¯Ø± Ø§ÛŒÙ† Ù‚Ø³Ù…Øª 10 ØªØ§ Ø§Ø² ÛŒÙˆØ²Ø±Ù‡Ø§ Ø±Ø§ Ø§Ø² ÛŒÚ© ØªØ§ 10 Ø§Ù†ØªØ®Ø§Ø¨ Ú©Ø±Ø¯Ù‡ Ùˆ Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ… Ø±Ø§ Ø¨Ø±Ø§ÛŒØ´ Ø§Ø¬Ø±Ø§ Ù…ÛŒÚ©Ù†ÛŒÙ… .
        Ø¨Ù‡ Ø§Ø²Ø§ÛŒ Ù‡Ø± ÛŒÙˆØ²Ø± Ú©ØªØ§Ø¨Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ù¾ÛŒØ´Ù†Ù‡Ø§Ø¯ Ø´Ø¯Ù‡ Ùˆ Ù†ÛŒØ² Ø§Ù…ØªÛŒØ§Ø² Ù¾ÛŒØ´ Ø¨ÛŒÙ†ÛŒ Ø´Ø¯Ù‡ Ø§ÛŒ Ú©Ù‡ Ø§Ø­ØªÙ…Ø§Ù„ Ø¯Ø§Ø±Ø¯ Ø¢Ù† ÛŒÙˆØ²Ø± Ø¨Ù‡ Ú©ØªØ§Ø¨ Ù…Ø±Ø¨ÙˆØ·Ù‡ Ø¨Ø¯Ù‡Ø¯ Ø±Ø§ Ù†Ù…Ø§ÛŒØ´ Ù…ÛŒØ¯Ù‡ÛŒÙ… .

In [204]:
for i in range(1, 10):
    print('recomended books for user with id =', i)
    display(recom_system(i))

recomended books for user with id = 1
---------------------------------------------------------

    book_id  rate                                              title
0       7.0   4.0                                         The Hobbit
16      2.0   4.0  Harry Potter and the Sorcerer's Stone (Harry P...
35     29.0   4.0                                   Romeo and Juliet
34     26.0   4.0             The Da Vinci Code (Robert Langdon, #2)
33      6.0   4.0                             The Fault in Our Stars
32     55.0   4.0                                    Brave New World
31      5.0   4.0                                   The Great Gatsby
30     24.0   4.0  Harry Potter and the Goblet of Fire (Harry Pot...
28      3.0   4.0                            Twilight (Twilight, #1)
27     19.0   4.0  The Fellowship of the Ring (The Lord of the Ri...

recomended books for user with id = 2
---------------------------------------------------------

    book_id  rate                                              title
0       1.0   4.0            The Hunger Games (The Hunger Games, #1)
26     41.0   4.0  The Lightning Thief (Percy Jackson and the Oly...
39      6.0   4.0                             The Fault in Our Stars
41     32.0   4.0                                    Of Mice and Men
44     35.0   4.0                                      The Alchemist
58     22.0   4.0                                   The Lovely Bones
59     55.0   4.0                                    Brave New World
68     36.0   4.0                          The Giver (The Giver, #1)
1       3.0   4.0                            Twilight (Twilight, #1)
78     63.0   4.0                                  Wuthering Heights

recomended books for user with id = 3
---------------------------------------------------------

    book_id  rate                                              title
0      35.0   4.0                                      The Alchemist
36     31.0   4.0                                           The Help
25     30.0   4.0                                          Gone Girl
26      3.0   4.0                            Twilight (Twilight, #1)
27     20.0   4.0                  Mockingjay (The Hunger Games, #3)
28     60.0   4.0  The Curious Incident of the Dog in the Night-Time
29     48.0   4.0                                     Fahrenheit 451
30     38.0   4.0                           The Time Traveler's Wife
31     37.0   4.0  The Lion, the Witch, and the Wardrobe (Chronic...
32     36.0   4.0                          The Giver (The Giver, #1)

recomended books for user with id = 4
---------------------------------------------------------

    book_id  rate                                              title
17     46.0   4.0                                Water for Elephants
16     43.0   4.0                                          Jane Eyre
32      9.0   4.0              Angels & Demons  (Robert Langdon, #1)
36     16.0   4.0   The Girl with the Dragon Tattoo (Millennium, #1)
29     31.0   4.0                                           The Help
28     37.0   4.0  The Lion, the Witch, and the Wardrobe (Chronic...
27     38.0   4.0                           The Time Traveler's Wife
25     41.0   4.0  The Lightning Thief (Percy Jackson and the Oly...
24     60.0   4.0  The Curious Incident of the Dog in the Night-Time
23     39.0   4.0     A Game of Thrones (A Song of Ice and Fire, #1)

recomended books for user with id = 5
---------------------------------------------------------

    book_id  rate                                              title
0       1.0   5.0            The Hunger Games (The Hunger Games, #1)
15     37.0   5.0  The Lion, the Witch, and the Wardrobe (Chronic...
19      5.0   4.0                                   The Great Gatsby
21     56.0   4.0                       Breaking Dawn (Twilight, #4)
22     46.0   4.0                                Water for Elephants
46    161.0   4.0  The Return of the King (The Lord of the Rings,...
62     16.0   4.0   The Girl with the Dragon Tattoo (Millennium, #1)
26     73.0   4.0                            The Host (The Host, #1)
30     38.0   4.0                           The Time Traveler's Wife
57     11.0   4.0                                    The Kite Runner

recomended books for user with id = 6
---------------------------------------------------------

   book_id  rate                   title
0      5.0   5.0        The Great Gatsby
4      4.0   5.0   To Kill a Mockingbird
1     14.0   4.0             Animal Farm
2      8.0   4.0  The Catcher in the Rye
3     13.0   4.0                    1984

recomended books for user with id = 7
---------------------------------------------------------

    book_id  rate                                              title
29     56.0   5.0                       Breaking Dawn (Twilight, #4)
13     20.0   5.0                  Mockingjay (The Hunger Games, #3)
44      2.0   5.0  Harry Potter and the Sorcerer's Stone (Harry P...
31     45.0   5.0                                         Life of Pi
30     22.0   5.0                                   The Lovely Bones
1       1.0   5.0            The Hunger Games (The Hunger Games, #1)
28     49.0   5.0                            New Moon (Twilight, #2)
25     47.0   5.0                                     The Book Thief
48     15.0   5.0                          The Diary of a Young Girl
23     52.0   5.0                             Eclipse (Twilight, #3)

recomended books for user with id = 8
---------------------------------------------------------

    book_id  rate                                              title
38     15.0   5.0                          The Diary of a Young Girl
22     20.0   5.0                  Mockingjay (The Hunger Games, #3)
20      3.0   5.0                            Twilight (Twilight, #1)
1       7.0   5.0                                         The Hobbit
37      9.0   5.0              Angels & Demons  (Robert Langdon, #1)
17     46.0   5.0                                Water for Elephants
16     22.0   5.0                                   The Lovely Bones
15     47.0   5.0                                     The Book Thief
29      8.0   5.0                             The Catcher in the Rye
13     21.0   5.0  Harry Potter and the Order of the Phoenix (Har...

recomended books for user with id = 9
---------------------------------------------------------

     book_id  rate                                              title
0        4.0   5.0                              To Kill a Mockingbird
14      57.0   5.0                            The Secret Life of Bees
106     61.0   5.0                              The Girl on the Train
86      69.0   5.0                          Insurgent (Divergent, #2)
72      53.0   5.0                 Eragon (The Inheritance Cycle, #1)
62      54.0   5.0  The Hitchhiker's Guide to the Galaxy (Hitchhik...
1       12.0   5.0                          Divergent (Divergent, #1)
53      62.0   5.0        The Golden Compass (His Dark Materials, #1)
49       6.0   5.0                             The Fault in Our Stars
47      67.0   5.0                           A Thousand Splendid Suns