In [1]:
import pandas as pd

In [2]:
to_read = pd.read_csv('E:/my_courses/data mining/project/goodbooks-10k-master/to_read.csv')

In [3]:
to_read.head()

   user_id  book_id
0        9        8
1       15      398
2       15      275
3       37     7173
4       34      380

In [4]:
len(to_read)/100000

9.12705

In [5]:
to_read = pd.get_dummies(to_read, columns=['book_id'],prefix='',prefix_sep='')
to_read.head()

,user_id,1,2,3,4,5,6,7,8,9,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
0,9,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,37,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,34,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
to_read.to_csv('E:/my_courses/data mining/project/goodbooks-10k-master/to_read_dummy.csv')

In [7]:
x = to_read.iloc[0:10000].groupby('user_id').sum()

In [10]:
len(x)

2031